[2020-05-03 15:39] ImpactRedmi opened #1 "[BUG] Testing issue tracker"
**Describe the bug**
This is a trial issue to test new issue tracker with github

**To Reproduce**
None

**Expected behavior**
Ease of posting and tracking issue

**Screenshots**
None

**Smartphone (please complete the following information):**
 - OS: [Android/IOS] Android
 - Version [e.g. v2.10.9] NA

**Additional context**
NA

[2020-05-03 16:11] sagrgpt commented on #1
Work In Progress.

[2020-05-03 16:14] ImpactRedmi commented on #1
Still facing the issue. Reopen request

[2020-05-03 16:16] #1 closed

[2020-05-04 09:44] ImpactRedmi opened #2 "[BUG] Zero workout distance"
**Describe the bug**
I completed a non impact workout at 0.0 distance

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app
2. Start non impact workout
3. End workout

**Expected behavior**
A workout should not end at 0.0km distance. There should be a min distance for workout

**Screenshots**
If applicable, add screenshots to help explain your problem.
![IMG_20200427_153420](https://

[2020-05-04 10:10] #2 closed

[2020-05-04 15:59] aayush-khandelwal opened #3 "[BUG] Incorrect user stats after exiting Non Impact League"
**Describe the bug**
After exiting the league, the steps and km were showing 0 on the

homepage but differently on streak page.

**Steps To Reproduce**
Exit JLL league
Check homepage stats
Check stats on streak page
Expected behavior
Both screen should show same stats

**Screenshots**
Unable to find attachment option in android app of github
**Video format not supported for attachments**
Adding as

[2020-05-05 04:16] nikhilk90 opened #4 "Achievements in profile infinite loading[BUG]"
**Describe the bug**
Achievement section is only loading infinitely and not showing any badges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile
2. See loading

**Expected behavior**
few seconds of loading then badges should appear

**Screenshots**
screenshots attached

**Smartphone (please complete the following information):**
 - OS: -
- Device RMX1901
 -
<img width="963" alt="

[2020-05-05 04:26] sagrgpt commented on #3
Hi aayush. Please provide proper title gor your issues.

[2020-05-05 06:18] Pawanm1990 opened #5 "[BUG] 0 steps but streak ring showing progress"
**Describe the bug**
The ring is showing progress on home page....but steps count null.

**To Reproduce**
Steps to reproduce the behavior:
1. Started App
2. Started Non-Impact Workout
3. End Workout

**Expected behavior**
Steps should be count when the ring showing progress.

**Screenshots**
![Screenshot_2020-05-03-20-48-47-284_com sharesmile share](https://user-images.githubusercontent.com/648273

[2020-05-05 06:30] #5 closed

[2020-05-05 07:47] adrija25 opened #6 "[BUG] Home screen showing red start workout button after exiting JLL league"
**Describe the bug**
I logged in and opened the JLL league, and clicked exit.After exciting, it still showed the red start work out button but the community cause was correct.

Also, total amount raised should reflect in community cause card not distance covered..if I remember correctly.😅

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League'
2. Click on 'Exit league
3. Go to 'Home s

[2020-05-05 07:50] adrija25 commented on #6
No wait...should reflect amount raised..😅it's showing total distance in the community cause card as well

[2020-05-05 08:58] adrija25 opened #7 "[BUG] Streak ring shows Progress but Steps shows O"
**Describe the bug**
I opened the app to donate steps, but it showed 0 steps..the streak ring however showed progress.
So I clicked on the steps and in the activity screen it showed 400+steps.
After donating, it shows 75 steps available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Screen'
2. Click on 'Steps'

**Expected behavior**
Can't say...explained as much as I could.

**

[2020-05-05 08:59] adrija25 commented on #7
![Screenshot_2020-05-05-14-22-21-554_com sharesmile share](https://user-images.githubusercontent.com/64792558/81049948-d4a8c100-8edc-11ea-81a9-e6ef6566be24.jpg)

[2020-05-05 09:00] adrija25 commented on #7
![Screenshot_2020-05-05-14-22-21-554_com sharesmile share](https://user-images.githubusercontent.com/64792558/81050066-015cd880-8edd-11ea-8233-cb3103143dbe.jpg)

[2020-05-05 13:35] aayush-khandelwal opened #8 "[BUG] Receiving passive donation notification even after being part of JLL league"
**Describe the bug**
Receiving passive donation notification even after being part of JLL league

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notification drawer of your phone
2. Click on Passive notification from Impact App
3. Try donating the steps and see error of less than 250 steps
4. Check whether JLL cause is there

**Expected behavior**
Notification shouldn't come for JLL le

[2020-05-05 15:28] adrija25 opened #9 "[BUG] Getting notification (red mark/number) for old notifications"
**Describe the bug**
I had opened notification center yesterday.
However, when I opened the app I could see 5+ notification marked.
When I opened it, It had the old notifications from a team I had already Exited.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homescreen'
2. Click on 'Notification icon'
3.Go to 'Team'
4.Click 'Exit team'
5.Open 'Homescreen' next day

**Expected behavi

[2020-05-05 16:36] Pawanm1990 opened #10 "[BUG]Steps available for donate but can't donate."
**Describe the bug**
Steps available for donations but unable to donate and getting error.

**To Reproduce**
Steps to reproduce the behavior:
1. Home Page
2. Steps Donations
3. Donation Page
4. See error

**Expected behavior**
It should be donate.

**Screenshots**

**Version Android 2.14.3:**

[2020-05-06 04:01] gauravchauhan677 opened #11 "[BUG] Streak maintained issue in home page."
**Describe the bug**
I covered 0.99km & it show streak maintained in home page.

**Expected behavior**
Streak maintained should show when completed 1 km.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![IMG_20200505_193908](https://user-images.githubusercontent.com/32591411/81137356-248a9500-8f7c-11ea-964d-7fececf42808.jpg)

**Version [Check app's setting screen]:**

[2020-05-06 09:09] nikhilk90 opened #12 "Impossible step count active outdoor activity"
User is doing lakhs of steps in an hour.

**To Reproduce**
don't know

**Expected behavior**
few thousand steps not lakhs
<img width="1440" alt="Screenshot 2020-05-06 at 2 38 30 PM" src="https://user-images.githubusercontent.com/8169016/81160074-477e6e80-8fa7-11ea-941c-7bb18d521a47.png">

**Screenshots**added

CED link : https://ced.impactrun.com/userdetail/380899

[2020-05-06 11:49] sagrgpt opened #13 "[BUG] Homescreen DP square"
**Describe the bug**
The DP on the home-screen of the app, sometimes is square instead of circle.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app
2. Login using Google
3. Homescreen dp is square

**Expected behavior**
The dp on the homescreen should be circular after fetched from server.

**Screenshots**
![Screenshot_2020-05-06-17-10-05-446_com sharesmile share](https://user-

[2020-05-06 12:33] sagrgpt opened #14 "[BUG] Unable to exit run"
**Describe the bug**
On clicking end run, the run screen still stays. The timer stops but share screen is not opening.

**To Reproduce**
Steps to reproduce the behavior:
1. Start workout.
2. Navigate to different apps
3. Come back to app
4. Try ending the run. Workout wont end.

**Expected behavior**
Workout should end after click of end button. Either the share screen or the main activity dependi

[2020-05-06 13:35] Pawanm1990 opened #15 "[BUG] Completed Cause button showing Start Workout"
**Describe the bug**
On home page completed cause button showing start workout. On click on that tell your friends share option coming.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'Completed Cause button'
3. Scroll down to 'Cause Home Page'
4. See error

**Expected behavior**
"Tell Your Friends" option should come.

**Screenshots**
![Screenshot_20200506-1728

[2020-05-06 13:50] Pawanm1990 opened #16 "[BUG] Steps and Distance count not showing"
**Describe the bug**
I donated 1500 yesterday and 1000 today's steps, but not showing on home page rings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'Steps donation'
3. Scroll down to 'Donation Page'

**Expected behavior**
Distance and Steps count should be visible on home page.

**Screenshots**
![Screenshot_20200506-190927](https://user-images.githubuserco

[2020-05-06 14:06] Pawanm1990 opened #17 "[BUG] Teams comment time showing incorrect"
**Describe the bug**
I did comment at 7.27 pm but it showing 7.09 pm.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Teams Page.'
2. Click on 'Best Friend Teams'
3. Scroll down to 'Teams
4. See error

**Expected behavior**
It should be on actual time.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20200506-192725](https://user-images.github

[2020-05-07 07:28] parthanjaria commented on #17
Not an issue.

[2020-05-07 07:28] #17 closed

[2020-05-07 07:33] parthanjaria commented on #9
@adrija25 can you share the video for the same.

[2020-05-07 07:34] parthanjaria commented on #8
@NishantKhandelwal1 Please look into this issue.

[2020-05-07 07:38] adrija25 commented on #9
I will try to reproduce the issue and share the same.

[2020-05-07 07:39] parthanjaria commented on #15
@Pawanm1990 can you share the screen recording of this.

[2020-05-07 07:42] parthanjaria commented on #10
@Pawanm1990 can you share screenshots of the flow or  a video.

[2020-05-07 07:45] parthanjaria commented on #4
@nikhilk90 if we have the contact of the user, can we ask him to logout and then login. The achievements are not loading because the badge data is not loaded. Once that data is loaded, it will load the achievements.

[2020-05-07 07:46] apunuj commented on #8
@aayush-khandelwal can't see screenshots. Also can you share your user_id if you know it?

[2020-05-07 07:52] parthanjaria commented on #9
As per our conversation, this is the expected functionality. @nikhilk90 addy is suggesting on each login, we should not see +4 which we show currently if the user has shown that.

[2020-05-07 07:53] aayush-khandelwal commented on #8
I am sending you a screen recording of the issue

[2020-05-07 07:54] aayush-khandelwal commented on #8
User ID: 3124

[2020-05-07 08:22] Pawanm1990 commented on #10
pfa

Warm Regards,

Pawan Mishra
Company Secretary,
Impact - Your fitness + kindness app
www.impactapp.in
Phone: +91 9096090127

On Thu, May 7, 2020 at 1:12 PM parthanjaria <notifications@github.com>
wrote:

[2020-05-07 08:24] Pawanm1990 commented on #15
pfa

Warm Regards,

Pawan Mishra
Company Secretary,
Impact - Your fitness + kindness app
www.impactapp.in
Phone: +91 9096090127

On Thu, May 7, 2020 at 1:10 PM parthanjaria <notifications@github.com>
wrote:

[2020-05-07 14:54] adrija25 commented on #9
Yes it kinda defies the purpose of new notification if I have to keep opening for old notifications too..makes it less interesting..

[2020-05-07 15:06] #14 closed

[2020-05-07 15:06] #13 closed

[2020-05-07 16:17] sagrgpt commented on #17
@parthanjaria If an issue is incorrect or invalid, please change it's label to same so that this is not counted in our defect metric calculation.

[2020-05-08 02:38] nikhilk90 opened #18 "fraudulent addition of steps detected"
this person is doing more than 100-200km per day

CED link : https://ced.impactrun.com/userdetail/458553

**Additional context**
Is there some way we can deactivate/suspend the user, no just in leaderboards but from accessing the app like any insta/twitter account suspension with an appeal system to let him use the app again without any fraud

[2020-05-08 06:04] sagrgpt commented on #4
Since more information is required on this issue. This issue has been shifted to low priority.
@nikhilk90 Let us know if you want to shift it to a higher priority.

[2020-05-08 06:08] sagrgpt commented on #11
@parthanjaria Is this a repercussion of round off distance value to base instead of celling in the streak manager?

[2020-05-08 07:21] adrija25 opened #19 "[BUG]Daily Stats and Global leaderboard Last 7 days data does not match"
**Describe the bug**
I might be wrong but I noticed that the data visible in my stats -weekly and the global leaderboard for the last 7 days..don't match.
My stats shows Rs10 (weekly) and Global leaderboard shows Rs17..My total in the month of May is Rs16.
I am not sure if it's a bug or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '...

[2020-05-08 08:44] aayush-khandelwal opened #20 "[BUG] Streak ring showing complete status even when goal not achieved"
**Describe the bug**
Streak ring showing complete progress on the activity page in post workout flow even when the goal is not completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Start workout
2. Click on Stop workout
3. Check ring progress on streak page
4. See error

**Expected behavior**
It should show the actual progress

**Screenshots**
If applicable, add screenshots to help expl

[2020-05-08 08:52] gauravchauhan677 opened #21 "[BUG]2 popup coming when not completed 125 steps or 100 m. To Reproduce"
**Describe the bug**
2 toast coming when not completed 125 steps or 100 m.

**To Reproduce**
Steps to reproduce the behavior:
1. Start workout.
2. Before 125 steps, end workout 125 steps toast come.
3. Then after 125 steps, end workout. 100m toast came.

**Expected behavior**
Only one toast should come.

**Screenshots**

**Version [Check app's setting screen]:**
2.14.4.0

[2020-05-08 08:53] NishantKhandelwal1 opened #22 "Flagged workout is counting in daily goal"
Description: I flagged workout of 10 km from ced but still, it's not showing in workout history flagged. Also its counting in the daily goal. Showing text streak maintained but streak count is still 0

**Expected behavior**
Workout should be shown flagged in workout history.
It should not be counted in streak progress.
streak text "streak maintained" should be only shown when streak count increase

[2020-05-08 08:58] sagrgpt commented on #21
@gauravchauhan677 Please add proper title to your issues.

[2020-05-08 09:00] gauravchauhan677 commented on #21
Ok

On Fri, 8 May, 2020, 2:29 PM Sagar Gupta, <notifications@github.com> wrote:

[2020-05-08 09:30] parthanjaria commented on #11
Yes

[2020-05-08 09:37] kanakagr opened #23 "[BUG] Network error and technical difficulty toast while entering and exiting league"
**Describe the bug**
Getting network error when trying to enter JLL league and technical difficulty error when trying to exit. It works after trying multiple times but got the error quite frequently.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League'
2. Enter code 'jlla3'
3. Try exiting

**Expected behavior**
A smooth enter and exit experience.

**Screenshots**
If applicable, add

[2020-05-08 09:48] sagrgpt commented on #23
@NishantKhandelwal1 Check if this is not the same issue that we resolved that day.

[2020-05-08 10:16] nikhilk90 opened #24 "Duplicate Workouts"
CED Link : https://ced.impactrun.com/userdetail/518106

[2020-05-08 11:59] sagrgpt commented on #24
@AnujaPednekar Please check if this is on a version before or after your new passive donation implementation that attempted to fix this issue.

[2020-05-08 18:46] adrija25 opened #25 "[BUG]Not in JLL league but I can't open Teams"
**Describe the bug**
I exited JLL league but I can open teams and the work out button in the home screen is red in color.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League'
2. Click on 'Exit League'
3. Click 'Teams'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_2020-05-09-00-12-02-012_com sharesmile share](https://user-ima

[2020-05-08 18:47] adrija25 commented on #25
Also,it's showing distance covered in the cause card.

[2020-05-08 18:49] adrija25 commented on #4
@nikhilk90 if it's samsung, clearing cache and data resolves it...every single time.
It has been reported 5 times (Samsung device) and this solution has worked every single time.

[2020-05-09 04:03] sagrgpt commented on #4
@parthanjaria Where are we on the badge issues?

[2020-05-09 04:21] sagrgpt opened #26 "[BUG-2.14.4] Not getting achievement badges"
**Describe the bug**
Users are not reporting that they are not getting badges after their active workout.

**User facing the issue:**
521254, 116975, 125197

**Expected behavior**
After a deserving workouts, user should achieve a badge which should be displayed in the post workout flow and also in the achievement section of profile.

**Screenshots**
NA

[2020-05-09 04:22] sagrgpt commented on #26
/cc @adrija25 @nikhilk90

[2020-05-09 04:28] nikhilk90 commented on #24
Actually please check whether this is duplicate workout issue or different one... By looking at other cases it seems some guys are adding exact same  steps in few seconds interval.

[2020-05-09 04:32] sagrgpt commented on #4
Hi, let's stick to having this issue for **achievement not loading in profile**
I have created a separate issue on [achievement badges](https://github.com/Share-Impact/Android-Impact-Issues/issues/26) and added @nikhilk90 and @adrija25 Let's continue the conversation there.

[2020-05-09 04:47] nikhilk90 commented on #26
I think these 2 issues are different... Not getting badges is different from badges not showing

[2020-05-09 04:48] nikhilk90 commented on #4
Wahi toh tha starting se 🧐

[2020-05-09 05:44] kanakagr opened #27 "[BUG] I entered into JLL league but Vedanta cause was visible."
**Describe the bug**
I entered into JLL league but Vedanta cause was still visible and I could start a workout. After I ended the workout, I was automatically logged out from the league. Entered again and vedanta's cause was still visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League and enter code jlla1

**Expected behavior**
No cause should be visible

**Screenshots**
If a

[2020-05-09 07:19] sagrgpt commented on #27
**Steps to reproduce:**
1. Open the app.
2. Non jll cards are visible even though I'm part of the league.
3. Click on league tab.
4. Jll league team leader board is visible.
5. Refresh the leaderboard.
6. JLL league leaderboard is refreshed.
7. Click on home screen and start indoor workout (select indoor option from dialog).
8. Grant gfit permission if asked for.
9. Start indoor workout.
10. End i

[2020-05-09 07:47] sagrgpt commented on #27
[](https://files.slack.com/files-pri/T085NTUJK-F0141KZLLTS/download/67614b60-0b8e-4b4e-8c12-1f340ecb0fba.mp4)

[2020-05-10 06:14] kanakagr opened #28 "[BUG] When I enter into a league, the stats are not the updated stats. I have to refresh to get the updated stats"
**Describe the bug**
When I enter into a league again after exiting, I should see the latest updated stats. I see the stats at which I had exited and have to refresh the leaderboard to get the latest stats.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter into a league. Code jlla1
2. Swipe left on the banner to see the stats.
3. Refresh, take a screenshot of remember the numbers and exi

[2020-05-10 14:40] aayush-khandelwal opened #29 "[BUG] App crashes on passive donation screen"
**Describe the bug**
App crashes on passive donation screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to streak page
2. Click on donation button at bottom
3. UI shows without any cause and crashes instantly

**Expected behavior**
Passive donation page should show causes to donate steps

**Screenshots**
Couldn't take screenshot because app crashes instantly

**Version [Check app's se

[2020-05-10 18:27] sagrgpt commented on #29
@aayush-khandelwal Were you a part of JLL league when this happened?

[2020-05-10 18:31] sagrgpt commented on #26
@nikhilk90 Yes. They are separate issues.

[2020-05-11 03:16] aayush-khandelwal commented on #29
No

[2020-05-11 04:22] parthanjaria commented on #27
Solution : Delete the causes when the user enters a non-impact league.

[2020-05-11 04:22] #27 closed

[2020-05-11 04:50] sagrgpt commented on #29
For more details on the crash [click here](https://console.firebase.google.com/project/run-for-a-cause/crashlytics/app/android:com.sharesmile.share/issues/88e73aca0ada91c7a3d436106ba1cebc?time=last-seven-days&sessionId=5EB8115901750001157829D44059ABB4_DNE_0_v2&sessionTab=data&userInfoQuery=3124).

[2020-05-11 04:51] sagrgpt commented on #29
@parthanjaria This is mostly because of the recent changes done by you in the causeAdapter

[2020-05-11 04:53] sagrgpt commented on #29
@parthanjaria We might have to push a hotfix if this is an existing and recurring issue on the live build.

[2020-05-11 04:55] parthanjaria commented on #29
The issue is already solved and a build is pushed. 2.14.6.

@aayush-khandelwal please update and check the issue.

[2020-05-11 04:55] #29 closed

[2020-05-11 05:22] AnujaPednekar commented on #15
Solution: Checking user is not of the non-impact league by using shared preference value.

[2020-05-11 05:29] #15 closed

[2020-05-11 05:30] AnujaPednekar commented on #6
Duplicate of Issue #15

[2020-05-11 05:30] #6 closed

[2020-05-11 05:32] AnujaPednekar commented on #25
Duplicate of I Issue #15

[2020-05-11 05:32] #25 closed

[2020-05-11 06:06] sagrgpt commented on #21
@gauravchauhan677 Did you start an indoor workout or an outdoor workout when this issue occurred?

[2020-05-11 06:12] gauravchauhan677 commented on #21
Indoor workout

[2020-05-11 06:37] AnujaPednekar commented on #10
@Pawanm1990 Can you please elaborate more on this issue?
Like when u faced this issue whether u were part of JLL league or not?
What error did msg appear?

Please attach a screenshot of it, if you have taken it.

[2020-05-11 06:49] kaziamina opened #30 "Google Fit step addition not working"
**Describe the bug**
In the testing session, my passive steps showed a different number before the workout, after the workout and even after the second workout I did.

**To Reproduce**
1. Click on number of steps on the home page
2. View the number of active and passive steps
3. Start indoor workout (by making it default mode)
4. Workout and finish the workout
5. The numbers in the post workout DA

[2020-05-11 06:54] kaziamina opened #31 "[BUG] Too short pop-up came even after I had raised 1rs and was at 132 steps"
**Describe the bug**
Too short pop-up came even after completing 134 steps and 1rs raised.

**To Reproduce**
Steps to reproduce the behavior:
1.
Start indoor workout by making it the default mode.
2. Stop the workout at 128 steps and got the 'too short' popup
3. Clicked no and continued workout and repeat step 2 till 134 steps.
4. At 136 steps it showed me the 'end workout' popup

**Expected behav

[2020-05-11 06:58] kaziamina opened #32 "[BUG] Too short popup issue"
**Describe the bug**
Too short pop-up came even after completing 134 steps and 1rs raised.

**To Reproduce**
Steps to reproduce the behavior:
1.
Start indoor workout by making it the default mode.
2. Stop the workout at 128 steps and got the 'too short' popup
3. Clicked no and continued workout and repeat step 2 till 134 steps.
4. At 136 steps it showed me the 'end workout' popup

**Expected behav

[2020-05-11 07:11] kaziamina opened #33 "[BUG] glitch on runscreen"
**Describe the bug**
There is a glitch when we turn on the workout and land on the run screen after the countdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Start workout
2. Allow the countdown to start
3. See the glitch (pay attention to the distance text)

**Expected behavior**
No visual glitch in the ui

**Screenshots**
If applicable, add screenshots to help explain your problem.
![

[2020-05-11 07:14] kaziamina opened #34 "[BUG] My stats section loading"
**Describe the bug**
The my stats section of the profile kept on loading till I went to the workout history and came back

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile page
2. Scroll to the very end
3. (The my stats section was just loading)
4. Open workout history
5. Go back and 'My stars' appears

**Expected behavior**
My stats section should have loaded seamlessly

**Scree

[2020-05-11 07:21] kaziamina opened #35 "[BUG] Random characters displayed in daily activity screen"
**Describe the bug**
On clicking on 'number of steps' after doing a workout, the DAS screen showed random characters in place of distance for a couple of milliseconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Finish workout
2. From the homepage go to today's steps
3. The random characters appeared here before the actual numbers showed

**Expected behavior**
No glitch in the display of

[2020-05-11 07:24] kaziamina opened #36 "[BUG] Random numbers in the passive steps and total donatable steps"
**Describe the bug**
Various combinations of number of steps in passive and donatable steps.

**To Reproduce**
Steps to reproduce the behavior:
It's a lottttt of steps, please refer to the video shared to Sagar.

**Expected behavior**
The number of steps should remain constant if I'm not doing any workout.

**Screenshots**
I am attaching the screenshots but please check the video to understand the

[2020-05-11 07:25] aayush-khandelwal commented on #29
Yes. Not reproducing in current build

[2020-05-11 07:32] kaziamina commented on #36
Please look at Issue number 30 to have a better understanding of how the stats looked before I did the outdoor workout

[2020-05-11 07:43] sagrgpt commented on #21
@gauravchauhan677 We have identified and fixed this issue. Please test v2.15.0.0 to assure that this issue is resolved.
Closing this issue now. You are welcome to re-open the issue is the above mentioned version fail your test.

[2020-05-11 07:43] #21 closed

[2020-05-11 07:50] AnujaPednekar commented on #10
![WhatsApp Image 2020-05-07 at 1 44 25 PM](https://user-images.githubusercontent.com/43374048/81537022-2d1f0900-938a-11ea-8913-a3e1e4eed60c.jpeg)

[2020-05-11 07:51] AnujaPednekar commented on #10
![](https://files.slack.com/files-pri/T085NTUJK-F0136J77KUN/whatsapp_image_2020-05-07_at_1.44.25_pm__1_.jpeg)

[2020-05-11 07:52] sagrgpt commented on #32
Hi @kaziamina,
It seems you have created a duplicate issue. Closing this issue. Future updates will be posted to issue #31

[2020-05-11 07:52] #32 closed

[2020-05-11 07:53] AnujaPednekar commented on #10
![WhatsApp Image 2020-05-07 at 1 44 25 PM (2)](https://user-images.githubusercontent.com/43374048/81537331-a74f8d80-938a-11ea-8fd6-cfd2bcd7a14e.jpeg)
![WhatsApp Image 2020-05-07 at 1 44 25 PM (1)](https://user-images.githubusercontent.com/43374048/81537338-a880ba80-938a-11ea-88ce-128b2c49e1c3.jpeg)

[2020-05-11 07:54] sagrgpt commented on #31
Hi amina, we have noticed a similar issue reported a few days back. Hence, marking this as a duplicate.
This issue is resolved. For more details you can refer issue #21

[2020-05-11 07:54] #31 closed

[2020-05-11 08:53] AnujaPednekar commented on #10
Pawan: I'm on JLL league...went for donating steps but on donation page clicking on button but it's not working

[2020-05-11 10:05] sagrgpt commented on #7
@adrija25 Did join/exit JLL league when this issue occurred?

[2020-05-11 10:11] adrija25 commented on #7
I don't remember 😅

[2020-05-11 10:24] 24Kavisha opened #37 "[BUG] Unable to track passive steps"
**Describe the bug**

457890 - User is not receiving passive steps. Android

**To Reproduce**
Unknown

**Expected behavior**
Every step that a user takes without turning on an active workout, should be counted as passive steps.

**Screenshots**
NA

**Version [Check app's setting screen]:** Ver- 2.14.6

**Additional context**
NA

[2020-05-11 10:38] AnujaPednekar commented on #10
The bug occurred in previous versions where code to block passive donation was not added.
Working well current version.

[2020-05-11 10:38] #10 closed

[2020-05-11 11:57] sagrgpt commented on #22
Unable to reproduce the issue again. Let's check if this reappears.

[2020-05-11 11:59] kanakagr commented on #28
I think this has been rectified. I'm not facing this in 2.14.5 after the cause issue got solved.

[2020-05-11 13:26] sagrgpt commented on #7
@adrija25 We have identified and fixed this issue. Please test **v2.15.0.0** to ensure the same.
Closing this issue now. You are welcome to re-open the issue if the above mentioned version fails your test.

[2020-05-11 13:26] #7 closed

[2020-05-11 13:32] adrija25 opened #38 "[BUG] Total Raised showing Rs1 on clicking Cause card but Hall of Fame shows changemakers who have donated."
**Describe the bug**
I opened the app to donate 250 steps which raised Rs 1.
I clicked on the new cause and it showed Rs1.
I assumed it was my donation but I could see list of changemakers in Hall of fame.
I exited and saw the total raised was showing 0 on the cause card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homescreen'
2. Donate steps
3. Click on cause card to view details

[2020-05-11 13:35] #28 closed

[2020-05-11 13:36] sagrgpt commented on #23
@kanakagr Are you still facing this issue?

[2020-05-11 13:37] kanakagr commented on #23
No. Not facing now

[2020-05-11 13:40] sagrgpt commented on #23
This might either be a genuine network error or was fixed due to the recent hotfix changes.
Closing this issue. Feel free to reopen if you face the issue again.

[2020-05-11 13:40] #23 closed

[2020-05-11 15:43] sagrgpt commented on #37
@24Kavisha please follow the template while reporting a bug.

[2020-05-11 15:49] sagrgpt commented on #37
@24Kavisha please get the following screenshot from the user:
1. Screen shot of the homescreen
2. Screenshot of the daily activity screen.
3. Check if user is using any other app(preferencially GFit) for tracking his/her workout. If yes, please get the screenshot of the app screen that displays users steps & distance for the day.

[2020-05-11 20:07] NishantKhandelwal1 opened #39 "Unable to donate passive steps"
**Describe the bug**
When I clicked on donate steps It takes me to the donation screen but there is no cause and if I clicking on the screen then its crashing
**To Reproduce**
Shared video

**Expected behavior**
If the cause is available then it should show on the donation screen

**Screenshots**
![Screenshot_20200512-013425](https://user-images.githubusercontent.com/19950800/81606562-f03a2d00-93f

[2020-05-12 01:08] sagrgpt commented on #39
Closing this issue as it is a duplicate of issue #21.
@NishantKhandelwal1 we can continue your query (if any) there itself.

[2020-05-12 01:08] #39 closed

[2020-05-12 03:33] parthanjaria commented on #35
@kaziamina can you mention the version of the app?

[2020-05-12 03:45] sagrgpt commented on #35
@parthanjaria I'm working on this issue. I have the version number with me. Will be updating them soon.

[2020-05-12 06:15] kanakagr commented on #38
Same. I just exited from JLL league and saw the total raised and workouts as 0 which is not possible given the cause went live yesterday.

[2020-05-12 06:16] kanakagr commented on #38
![Screenshot_20200512-114304](https://user-images.githubusercontent.com/64794999/81644861-2b1a8000-9446-11ea-979f-d487f929c617.png)

[2020-05-12 07:12] sagrgpt commented on #20
Unable to reproduce.
@parthanjaria Can you give a look?

[2020-05-12 07:56] sagrgpt commented on #11
@parthanjaria Please take a look

[2020-05-12 09:28] aayush-khandelwal opened #40 "[BUG] Teams page visible from Deeplink even after being part of JLL"
**Describe the bug**
Was able to see teams listing page through a deeplink created by Parth for testing even when I was part of JLL League
https://impactapp.page.link/createTeam

**To Reproduce**
Steps to reproduce the behavior:
1. Join JLL League
2. Click on 'https://impactapp.page.link/createTeam'
3. Teams Page should open

**Expected behavior**
Clicking on the Deeplink should show the error mes

[2020-05-12 10:13] sagrgpt commented on #30
@kaziamina We have identified and fixed this issue. Please test v2.15.0.0 to ensure the same.
Closing this issue now. You are welcome to re-open the issue if the above-mentioned version fails your test.

Here's a quick suggested test:

1. Take a screenshot(ss) of DSA
2. Start workout
3. Complete at least a min workout and end the workout
4. Take a ss of the DSA during end workout flow
5. Open DSA

[2020-05-12 10:21] sagrgpt commented on #36
@kaziamina The issue mentioned here is a known limitation of the system in place. The fixes done recently for v2.15.0.0 attempts at making this a less frequent occurrence.
Closing the issue for now. Please re-open if this is still happening frequently for v2.15.0.0 or above.

[2020-05-12 10:21] #36 closed

[2020-05-12 10:49] parthanjaria commented on #20
Solution :
After the workout is completed there was a calculation mistake of km and m.

val activeDistance = (cachedData.activeDistance*1000) + recentActiveWorkout.distance made this change.

[2020-05-12 10:49] #20 closed

[2020-05-12 12:07] sagrgpt commented on #35
@kaziamina We have identified and fixed this issue. Please test **v2.15.0.0** to assure that this issue is resolved. Closing this issue now. You are welcome to re-open the issue if the above-mentioned version fails your test.

[2020-05-12 12:07] #35 closed

[2020-05-12 14:43] sagrgpt commented on #22
Closing this issue as its not be reproduced anymore.

[2020-05-12 14:43] #22 closed

[2020-05-12 15:13] sagrgpt commented on #33
@kaziamina We have identified and fixed this issue. Please test v2.15.0.0 to ensure the same.
Closing this issue now. You are welcome to re-open the issue if the above-mentioned version fails your test.

[2020-05-12 15:13] #33 closed

[2020-05-13 04:43] #16 closed

[2020-05-13 06:29] sagrgpt commented on #11
@gauravchauhan677 We have identified and fixed this issue. Please test v2.15.0.0 to assure that this issue is resolved.
Closing this issue now. You are welcome to re-open the issue is the above mentioned version fail your test.

[2020-05-13 06:29] #11 closed

[2020-05-13 06:30] sagrgpt commented on #3
@gauravchauhan677 We have identified and fixed this issue. Please test **v2.15.0.0** to assure that this issue is resolved.
Closing this issue now. You are welcome to re-open the issue is the above mentioned version fail your test.

[2020-05-13 06:30] #3 closed

[2020-05-13 09:26] kanakagr opened #41 "[BUG] buttons on end without pop up are not right for JLL and outdoor workout"
**Describe the bug**
The buttons say Yes No while the content doesn't ask any question.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to JLL league and start workout.
2. Press finish and read the pop up content
3. Start an outdoor Workout and finish without covering 100 m
4. Read the pop up content

**Expected behavior**
Buttons should be Continue and End like in indoor workout popup.

[2020-05-13 09:29] kanakagr opened #42 "[BUG] Tip text is not visible on my screen below cause"
**Describe the bug**
Tip text below the cause card is truncated in my phone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Look for the tip text before cause card

**Expected behavior**
It should be visible

**Screenshots**
![Screenshot_20200513-141723](https://user-images.githubusercontent.com/64794999/81795853-3d6dea00-952a-11ea-88fa-b8d9c552df07.png)

**Version [Check ap

[2020-05-13 09:49] sagrgpt opened #43 "[BUG] Home screen stats incorrect"
**Describe the bug**
Homescreen always shows 0.00 KM distance and 0 steps when in JLL league

**To Reproduce**
Steps to reproduce the behavior:
1. Join JLL league
2. Start a non impact workout
3. End a workout after completing min num of steps
4. Homescreen still shows 0.00 and 0

**Expected behavior**
My total distance and steps for the day should be reflected on the home screen

**Screenshots**

[2020-05-13 10:25] sagrgpt commented on #43
I just logged out and logged in.
The home screen stats now got updated but the distance value does not add up on the workout history screen.
Also, the streak progress ring remains at zero.

![InkedScreenshot_2020-05-13-15-50-32-866_com sharesmile share_LI](https://user-images.githubusercontent.com/11998999/81801442-11566700-9532-11ea-88b4-82d058bf661d.jpg)

[2020-05-13 10:31] NishantKhandelwal1 opened #44 "Clap count on Clap detail page not increasing when clapped from Post detail page"
**Describe the bug**
Clap count on Clap detail page not increasing when clapped from Post detail page

**To Reproduce**
Steps to reproduce the behavior:
1. clap from detail page
2. click on claps to go clap detail page
3. clap count is not updated even after refresh

**Expected behavior**
It should updated

**Screenshots**
shared video with anuja

**Version [Check app's setting screen]:**
2.14.6

[2020-05-13 10:34] NishantKhandelwal1 opened #45 "Clicking Clap notification doesn't show correct clap count"
**Describe the bug**
Clicking Clap notification doesn't show correct clap count

**To Reproduce**
Steps to reproduce the behavior:
1. check claps on the post and clap on it
2. ask someone to clap on the same post and click the notification
3. check clap count

**Expected behavior**
It should be correct

**Screenshots**

**Version [Check app's setting screen]:**
2.14.6

**Additional context**
Add a

[2020-05-13 10:38] NishantKhandelwal1 opened #46 "Scroll and highlight comment"
**Describe the bug**
Scroll and highlight comment-> it takes me directly to the end of the page

**To Reproduce**
Steps to reproduce the behavior:
1. comment on the post which has 8+ comment
2. click on comment from post list page
3. it takes you to the detail page but animation is not happening

**Expected behavior**
Scroll and highlight comment

**Screenshots**
Video sent to anuja

**Version [Ch

[2020-05-13 10:39] NishantKhandelwal1 opened #47 "Post ui flickers on clap"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. clap on post and whole tile will flicker

**Expected behavior**
It should not flicker

**Screenshots**

**Version [Check app's setting screen]:**
2.14.6

**Additional context**
Add any other context about the problem here.

[2020-05-13 10:43] sagrgpt opened #48 "[BUG] Donation popup visibile in Non-Impact League"
**Describe the bug**
I'm still able to see and click on the donation popup even though I'm in JLL league

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Google settings and revoke Gfit permissions
2. Open the app
3. Join JLL league
4. Click on home screen
5. Donation popup is visible

or

1. Make sure donation popup is visible before joining the JLL league.
2. Join JLL league.
3. Compl

[2020-05-13 11:27] parthanjaria commented on #45
Can you test this on v2.15.0.0? @NishantKhandelwal1

[2020-05-13 11:27] parthanjaria commented on #44
Can you test this on v2.15.0.0? @NishantKhandelwal1

[2020-05-13 12:07] Pawanm1990 opened #49 "[BUG] Not getting notification alert Team Request to Accept/Reject"
**Describe the bug**
Gaurav sent me a request to join the team, but not received notification alert.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'Bell Icon'
3. Scroll down to 'Notification Center'
4. Received the notification alert but on when mobile locked not alert ring or vibrate.

**Expected behavior**
It should be ring/vibrate when mobile locked or open

[2020-05-13 12:40] sagrgpt opened #50 "[BUG] Passive Workout for Non Impact League Users"
**Describe the bug**
Undonated passive workouts are being created for users who are a member of non-impact league

**To Reproduce**
NA

**Expected behavior**
Passive workouts should not be created for a user if they are a member of non-Impact League.

**Screenshots**

**Version [Check app's setting screen]:** 2.14.6

**Additional context**
NA

[2020-05-13 13:01] Pawanm1990 opened #51 "[BUG] Team Page Scrolling working very slow"
**Describe the bug**
Team Page Scrolling working very slow.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Teams'
2. Click on 'Best Teams Group'
3. Scroll down to 'top to bottom'
4. See error- working very slow

**Expected behavior**
It should be smooth.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![WhatsApp Image 2020-05-13 at 6 25 06 PM](https://us

[2020-05-13 13:57] Pawanm1990 opened #52 "[BUG] App Crashed"
**Describe the bug**
App Crashed when I was in the Notification Center and Teams Page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'Notification Center and Teams Page'
3. Scroll down to 'Notification and Teams Page'
4. See error - App Crashed

**Expected behavior**
It should be not crashed.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-05-14 03:02] parthanjaria opened #53 "Workout pause not working"
**Describe the bug**
I started a workout. After some tracking, I paused the workout and continued to walk. After resuming the workout in the app i could see that the steps taken during the paused duration were added as soon as i resumed the workout.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the workout
2. Go for a walk
2. Pause the workout in the app but continue to walk
3. After

[2020-05-14 03:04] parthanjaria opened #54 "JLL workout is being counted as a outdoor workout"
**Describe the bug**
JLL workout is being counted as a outdoor workout

**To Reproduce**
Steps to reproduce the behavior:
1. Join the JLL league
2. Do a workout
3. check the workout in workout history and ced, it is counted as a outdoor workout.

**Expected behavior**
The workout should be counted as a non-impact workout.

**Screenshots**
![Screenshot_20200514-083503](https://user-images.githubuse

[2020-05-14 03:17] parthanjaria opened #55 "Remove user tags for one signal. Only keep the required ones. As only 10 tags are allowed in free account"

[2020-05-14 03:38] parthanjaria commented on #40
deeplink opening teams page when in non-impact league issue resolved.

When we detect a deep link, there are many places it can be sent, so we have blocked entry into teams feature from any sort of deep link.

Test:
- Click on this link : https://impactapp.page.link/createTeam
If you are not part of JLL/nonimpact league, then it should open the teams tab, else will show you a popup that this featu

[2020-05-14 03:38] #40 closed

[2020-05-14 04:12] #44 closed

[2020-05-14 04:12] sagrgpt commented on #44
Issue fixed for v 2.15.0.0

[2020-05-14 04:13] sagrgpt commented on #45
Issue fixed for v 2.15.0.0

[2020-05-14 04:13] #45 closed

[2020-05-14 04:15] sagrgpt commented on #47
Issue resolved on v 2.15.0.0

[2020-05-14 04:15] #47 closed

[2020-05-14 04:16] parthanjaria commented on #43
Issue is now resolved. The workout type was not set to non_impact_workout when the code was merged to develop. Due to which when stats data for non_impact_workouts were asked were set to 0.

Test :

Start a JLL workout. Do 0.1 km. then check for change in the home page stats

[2020-05-14 04:16] #43 closed

[2020-05-14 04:16] parthanjaria commented on #54
Issue is now resolved. The workout type was not set to non_impact_workout when the code was merged to develop.

Test :

Start a JLL workout. Do 0.1 km. Check the workout history for the workout to be a non_impact workout.

[2020-05-14 04:16] #54 closed

[2020-05-14 04:47] parthanjaria commented on #48
I have resolved the issue. @sagrgpt I would like you to review this commit once before closing the issue. [https://github.com/Share-Impact/Impact_Android/commit/a3093ccedb69de06766885eadcf1279784fe7983](url)

[2020-05-14 05:11] Pawanm1990 commented on #46
Unable to see highlight if comment less than 3

[2020-05-14 05:57] sagrgpt commented on #41
@kanakagr We have identified the issue and resolved it for ver **2.15.0.1**
Closing this issue now. Please re-open if you face the same issue for the above-mentioned versions.

[2020-05-14 05:57] #41 closed

[2020-05-14 06:03] gauravchauhan677 opened #56 "[BUG]team accept notification issue"
**Describe the bug**
A clear and concise description of what the bug is.
Click on team accept notification.... Doesn't show request in manage team.
**To Reproduce**
Steps to reproduce the behavior:
1. Click on team accept notification.

**Expected behavior**
Should show request in manage team.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [Check app's set

[2020-05-14 06:20] AnujaPednekar commented on #52
which notification did you check?

[2020-05-14 06:29] Pawanm1990 commented on #52
I don't remember. clicked on the notification center read messages scrolling towards up and down suddenly app crashed. and for Team went on "Best Freind&"

[2020-05-14 06:35] nikhilk90 opened #57 "Comments not uploading while the device is at battery saver"
You can write the comments inside the post but after sending it, it remains in grey

**To Reproduce**
Steps to reproduce the behavior:
turn battery saver on
1. Go to any post
2. Comment

**Expected behavior**
It should be posted, if any network issue is der there should be a toast about bad network.
also if the comment is saved in local it should be shown, currently if i did 2,3 comments during ba

[2020-05-14 06:35] parthanjaria commented on #9
@adrija25 are you still facing this issue? After our discussion have you teste this?

[2020-05-14 06:37] adrija25 commented on #9
Once...i forgot to record it or click screenshot.

[2020-05-14 06:43] parthanjaria commented on #9
Ok, try again. and let me know.

[2020-05-14 06:53] nikhilk90 opened #58 "App crashing after clapping on any post from post page"
**Describe the bug**
On the post page app crashes after few seconds of clapping

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any post page inside teams either via notification center or through typical team route
2. Click on clap icon
3. wait for few seconds
4. CRASHhhhh

**Expected behavior**
It should not crashhhhh

**Screenshots**
sending video on slack app_testing channel with t

[2020-05-14 07:18] adrija25 opened #59 "[BUG] Less Distance Issues"
User Id -  586826
Run id - 28677942, 28352910
Device- Xiaomi

User id- 581091
Run id - 28354187
Device- Samsung

User id - 156657
Run id - 28529090
Device -Samsung

User Id- 588012
Run id - 28376474
Device- Lenovo

User id- 586250
Run id - 28580107
Device -One plus

User id -584269
Run id- 28534292
Device- Vivo

[2020-05-14 07:26] #59 closed

[2020-05-14 07:28] adrija25 opened #60 "[BUG]LESS DISTANCE"
[User Id - 586826](https://ced.impactrun.com/userdetail/586826)
Run id - 28677942, 28352910
Device- Xiaomi

[User id- 581091](https://ced.impactrun.com/userdetail/581091)
Run id - 28354187
Device- Samsung

[User id - 156657](https://ced.impactrun.com/userdetail/156657)
Run id - 28529090
Device -Samsung

[User Id- 588012](https://ced.impactrun.com/userdetail/588012)
Run id - 28376474
Device- Lenovo

[2020-05-14 07:40] kaziamina opened #61 "[BUG] App crashed after clapping inside post"
**Describe the bug**
When I clapped on the post from inside the detail page and I clicked on the number of claps, the app crashed. (This happened twice with me)

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on the post to open the detail page
2. Clap on the post multiple times
3. Click on the 'x claps' area
**Version [Check app's setting screen]:**
2.15.0.0

**Additional context**
Add

[2020-05-14 07:55] kaziamina opened #62 "[BUG] Different amount raised on workout screen and notification drawer"
**Describe the bug**
While doing outdoor workout, the time amount raised on workout screen showed 0rs but the one in the notification drawer should 1rs. Attaching screenshots

**To Reproduce**
1. Start workout
2. Complete atleast 0.05km distance
3. See amount in workout screen and notification bar

**Expected behavior**
Both the amounts should match.

**Screenshots**
![Screenshot_20200513-143726](

[2020-05-14 08:00] sagrgpt commented on #61
@kaziamina We noted that a similar issue has been already created. Hence we will be closing this issue. All further communication will continue on issue #58

[2020-05-14 08:00] #61 closed

[2020-05-14 08:03] sagrgpt commented on #62
@kaziamina Are you facing this issue only for outdoor workouts or for other workouts types as well?

[2020-05-14 08:06] sagrgpt commented on #58
/cc @kaziamina

[2020-05-14 08:11] sagrgpt commented on #50
This issue was raised for user id: 584849

[2020-05-14 08:52] #52 closed

[2020-05-14 08:53] AnujaPednekar commented on #58
Duplicate of Issue #52

[2020-05-14 08:53] #58 closed

[2020-05-14 09:06] NishantKhandelwal1 opened #63 "While steps donation I can only donate steps of yesterday at one time"
**Describe the bug**
I can only donate steps of yesterday at one time. Also when I return to the home screen then it showed me the total steps(around 5600) again  which I just donated. When I clicked on it It takes me a donation screen. On the donation screen, It was showing only today's steps.

**To Reproduce**
You should have yesterday and today's steps.
1. Donate steps
2. You still can see some

[2020-05-14 09:20] gauravchauhan677 opened #64 "[BUG]app crashes when click on send button in post detail page."
**Describe the bug**
A clear and concise description of what the bug is.
App get crashes when clicking on send button in post detail page..... While commenting.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable

[2020-05-14 09:48] NishantKhandelwal1 opened #65 "App crashed when clapping from post detail page"
**Describe the bug**
App crashed when clapping from post detail page

**To Reproduce**
Steps to reproduce the behavior:
Clap any post from post detail page.

**Expected behavior**
It should not crashed

**Screenshots**
Shared video with anuja on slack

**Version [Check app's setting screen]:**
2.15.0.0

**Additional context**
Add any other context about the problem here.

[2020-05-14 09:54] parthanjaria commented on #64
Can you share which post you tried to comment on?

[2020-05-14 10:02] AnujaPednekar commented on #56
The user who exited JLL were not receiving push notification.

[2020-05-14 10:02] #56 closed

[2020-05-14 10:05] AnujaPednekar commented on #49
The users who have exited JLL league are not getting push notifications. It will be taken care by backend later on.

[2020-05-14 10:05] #49 closed

[2020-05-14 10:31] gauravchauhan677 opened #66 "[BUG] Distance, steps & progress ring decrease in HOme page when entered in JLL league."
**Describe the bug**
Distance, steps & progress ring decrease in the HOme page. when entered in the JLL league.
**To Reproduce**
Steps to reproduce the behavior:
1. entered in JLL league.

**Expected behavior**
distance , steps & progress should also be the same when entered in the JLL league.
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [Check app's sett

[2020-05-14 10:34] 24Kavisha commented on #65
+1

[2020-05-14 10:43] 24Kavisha opened #67 "[BUG]Ui flickers on clapping"
**Describe the bug**
Ui flickers on clapping

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Team post
2. Click on clap icon

**Expected behavior**
It should not flicker

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version 2.15.0.0:**

**Additional context**
Add any other context about the problem here.

[2020-05-14 11:40] #46 closed

[2020-05-14 11:54] AnujaPednekar commented on #65
Duplicate of Issue #52

[2020-05-14 11:54] #65 closed

[2020-05-14 11:56] AnujaPednekar commented on #64
Duplicate of Issue #52

[2020-05-14 11:56] #64 closed

[2020-05-14 12:08] AnujaPednekar commented on #67
Working as expected in the video shared by you.

[2020-05-14 12:08] #67 closed

[2020-05-14 17:28] sagrgpt commented on #46
@NishantKhandelwal1 @Pawanm1990 We have found and resolved this issue for version **2.15.0.1**. Closing this issue now. Please reopen the issue if the mentioned version fails your tests.

[2020-05-14 17:34] sagrgpt commented on #52
We have found and resolved this issue for version **2.15.0.1**. Closing this issue now. Please reopen the issue if the mentioned version fails your tests.

[2020-05-14 17:40] sagrgpt commented on #66
@gauravchauhan677 This is an expected behaviour. Since JLL league is a non impact workout, on the workouts done for this leage will be counted valid and displayed on the homescreen. All your other workouts such as indoor, outdoor, passive will be deducted from your pre league homescreen stats.

[2020-05-14 17:43] sagrgpt commented on #63
@NishantKhandelwal1 Can you attach the screenshots of the same so that we can understand the problem better?

[2020-05-15 03:35] Pawanm1990 commented on #46
Ok

[2020-05-15 05:35] parthanjaria commented on #63
Given build to @NishantKhandelwal1 for testing the issue.

[2020-05-15 05:40] parthanjaria commented on #62
Shared the build with @kaziamina to test this. Change resolved in https://github.com/Share-Impact/Impact_Android/commit/3618d80d47379c55774b6ae5c395e09de444ab66

[2020-05-15 06:38] #55 closed

[2020-05-15 07:32] 24Kavisha opened #68 "[BUG] Unable to connect to Gfit"
**Describe the bug**
A text showing connecting to Gfit ...
But the user is able to track passive steps

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Current streak'
2. It should show the passive steps

**Expected behavior**
Text displaying connecting to Gfit should be removed.

**Screenshots**
![img_1589380077009](https://user-images.githubusercontent.com/64829704/82023663-3cfd5c80-

[2020-05-15 07:57] sagrgpt commented on #60
[User id -590839](https://ced.impactrun.com/userdetail/590839)
Run id: Unknown
Device: Samsung SM-G930F

[User id- 588336](https://ced.impactrun.com/userdetail/588336)
Run id: 28580891
Device: Google Pixel 3 XL

[2020-05-15 07:57] AnujaPednekar commented on #68
Please mention user id

[2020-05-15 08:51] #63 closed

[2020-05-15 09:33] nikhilk90 opened #69 "Duplicate passive workouts"
CED : https://ced.impactrun.com/userdetail/561885
Screenshot attached.
Version no. 2.13.6
device : PANASONIC Eluga_Arc_2

![Screenshot_20200515-143145](https://user-images.githubusercontent.com/8169016/82035386-1398fc80-96bd-11ea-9cd2-b200e7f3b419.png)
![Screenshot_20200515-143134](https://user-images.githubusercontent.com/8169016/82035392-1562c000-96bd-11ea-8669-31aa0e70c6cf.png)
![Screenshot_202

[2020-05-15 09:46] sagrgpt commented on #50
@parthanjaria This issue has been resolved yet not tested.

[2020-05-15 09:48] #50 closed

[2020-05-15 09:48] 24Kavisha commented on #68
User ID - 573142
Ver- 2.14.6

[2020-05-15 10:12] apunuj commented on #8
Closing, since it's resolved.

[2020-05-15 10:12] #8 closed

[2020-05-15 10:16] parthanjaria commented on #53
change

public void onStepCount(int deltaSteps) {
    if (viewModel.isTrackerActive()) {

to

public void onStepCount(int deltaSteps) {
    if (viewModel.isTrackerRunning()) {

in WorkoutService

Commit : https://github.com/Share-Impact/Impact_Android/commit/e86c5bdc5b1bae547eed90f2f4f41db823febed0

[2020-05-15 10:16] #53 closed

[2020-05-15 10:25] apunuj opened #70 "[BUG] Exit JLL Impact League is Unreliable"
**Describe the bug**
This happens sometimes. Not always.
When I exit the JLL impact league and get a successful exit toast, I can see the indoor and outdoor workout options available to me. Then I kill the app from the background and reopen the app. The home page UI is back to being like that of the JLL Impact League. (Non-Impact Workout color scheme).
When I visit the league section. I see a blan

[2020-05-15 12:21] #62 closed

[2020-05-15 15:27] sagrgpt commented on #69
Duplicate issue #24

[2020-05-15 15:27] #69 closed

[2020-05-15 20:21] adrija25 opened #71 "[BUG] Daily goal post missing"
**Describe the bug**
I was randomly checking team post and noticed Gaurav's daily goal post went from 187 to 189 directly. No post generated for 188.

**Expected behavior**
Post should be generated on completing daily goal everyday, right?

**Screenshots**
![Screenshot_2020-05-16-01-47-06-566_com sharesmile share](https://user-images.githubusercontent.com/64792558/82092858-a6668500-9717-11ea-835d-

[2020-05-15 20:28] adrija25 opened #72 "[BUG] Rank not in one line (Repeat)"
**Describe the bug**
Rank not in one line in the global leaderboard.

**Screenshots**
![Screenshot_2020-05-16-01-56-05-168_com sharesmile share](https://user-images.githubusercontent.com/64792558/82093406-adda5e00-9718-11ea-924c-62a2f2f7790a.jpg)
![Screenshot_2020-05-16-01-56-10-010_com sharesmile share](https://user-images.githubusercontent.com/64792558/82093417-b337a880-9718-11ea-915b-6fbfbacdc1

[2020-05-17 18:49] nikhilk90 commented on #24
this one should be higher priority issue
more than 500 duplicates workouts in a day.

[2020-05-18 04:10] parthanjaria commented on #9
@adrija25 I am closing the issue now. If the issue still persists please feel free to reopen the issue.

[2020-05-18 04:10] #9 closed

[2020-05-18 09:33] aayush-khandelwal opened #73 "[BUG] Not receiving passive notification"
**Describe the bug**
I'm not getting passive notification even after completing my daily goal and covering more than 1000 steps daily

**To Reproduce**
NA

**Expected behavior**
Should get a notification to donate passive steps

**Screenshots**
NA

**Version [Check app's setting screen]:**
2.15.0.0

**Additional context**
I'm not a part of JLL league

[2020-05-18 11:14] #48 closed

[2020-05-18 11:37] adrija25 commented on #42
+1

[2020-05-18 12:14] adrija25 opened #74 "[BUG] Same team visible twice on searching"
**Describe the bug**
I searched Impact name in the join team option and I noticed Impact Goa was visible twice.

**Screenshots**
![Screenshot_2020-05-18-17-39-08-246_com sharesmile share](https://user-images.githubusercontent.com/64792558/82211879-37637900-992f-11ea-837e-3a266feab234.jpg)

![Screenshot_2020-05-18-17-39-36-082_com sharesmile share](https://user-images.githubusercontent.com/64792558

[2020-05-18 12:17] gauravchauhan677 opened #75 "[BUG] In clap detail page, Public profile should be open while clicking whole cell."
**Describe the bug**
 In clap detail page, Public profile should be open while clicking whole cell.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [

[2020-05-18 14:38] Pawanm1990 opened #76 "[BUG]Not Counting Steps,Distance and Calories"
**Describe the bug**
During workout app not counting steps, distance, and calories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'JLL League Home Page.'
2. Click on 'Workout Button'
3. Scroll down to 'Workout Page'
4. See error- Not counting

**Expected behavior**
It should be count steps, distance and calories.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2020-05-18 16:34] kanakagr opened #77 "[BUG] Clicking on clap notification doesn't show updated claps on post detail page"
**Describe the bug**
Clicking on push notification of claps or from notification center opens the post detail page. But clap count is not updated. Clicking on clap list shows the updated count

**To Reproduce**
Steps to reproduce the behavior:
1. Click on clap notification either from notification center or push notification
2. See the clap count
3. Click to view the clap list
4. Match with the cl

[2020-05-18 16:37] kanakagr opened #78 "[BUG] Did not get too short pop up when I ended an indoor workout with 23 steps"
**Describe the bug**
Did not get too short pop up when I ended an indoor workout with 23 steps

**To Reproduce**
Steps to reproduce the behavior:
1. Start an indoor Workout
2. Try to end it with less than 125 steps
3. Couldn't reproduce it though. Happened only once

**Expected behavior**
Too short pop up should come

**Screenshots**
If applicable, add screenshots to help explain your problem.
No

[2020-05-18 16:39] kanakagr opened #79 "[BUG] Clicking on kick out notification should open the teams main page"
**Describe the bug**
Clicking on kick out notification currently takes me to my team list page while it should take me to Create/Join Team page. The notification says want to join another team? The option to join another team is clearer on main page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A c

[2020-05-18 16:42] kanakagr opened #80 "[BUG] Content needs to be changed on the attached pop up"
**Describe the bug**
Content should be changed to
Oops!
Sorry you're no longer a part of this team.
Button Ok

![Screenshot_20200518-172617](https://user-images.githubusercontent.com/64794999/82238228-925b9700-9954-11ea-9f01-cef6a36a4d7e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2020-05-18 16:47] kanakagr opened #81 "[BUG] Refreshing on the view team page keeps on loading indefinitely"
**Describe the bug**
Pulling down to refresh on View Team page keeps loading forever

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a team
2. Click on View Team
3. Pull down to refresh
4. See error

**Expected behavior**
It should refresh and the loader should go away

**Screenshots**
![Screenshot_20200518-170949](https://user-images.githubusercontent.com/64794999/82238651-452bf500-99

[2020-05-19 03:49] gauravchauhan677 opened #82 "[BUG]Clicking on clap notification, showing 0 claps in Post."
**Describe the bug**
Clicking on clap notification, showing 0 claps in Post Detail Page.
It also shows when 0 claps when Clicking on the notification in Notification Center.
After some time it shows correctly when Clicking clap notification in notification center.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2020-05-19 04:22] parthanjaria commented on #79
@kanakagr This is as the functionality was built. @nikhilk90 Let us know if this change is to be made.

[2020-05-19 04:23] parthanjaria commented on #82
Duplicate to #77

[2020-05-19 04:23] #82 closed

[2020-05-19 04:27] parthanjaria commented on #71
@NishantKhandelwal1 Can you look into this issue?

[2020-05-19 05:41] parthanjaria opened #83 "Voice command for JLL league"
**Describe the bug**
When a user is in the league, the voice command states : Raised 0 Rs with x steps in y hours.

**Expected behavior**
It should say : "You've taken x steps in y minutes"

**Version [Check app's setting screen]:**
2.15.0

[2020-05-19 06:18] AnujaPednekar commented on #81
Unable to reproduce this issue

[2020-05-19 07:09] kanakagr commented on #81
It happens after you try to exit from a team. Sharing the video with you on slack

[2020-05-19 07:12] kanakagr opened #84 "[BUG] Exit team button not working"
**Describe the bug**
Exit team button doesn't do anything

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a team
2. Click on View Team
3. Click on Exit Team
4. See error (nothing happens)
5. Goes to infinite loading when you try to refresh, both on view team page and team details page

**Expected behavior**
I should be able to leave the team

**Screenshots**
Video shared with Anuja on

[2020-05-19 07:24] AnujaPednekar commented on #75
Made the whole cell clickable to open profile

[2020-05-19 07:24] #75 closed

[2020-05-19 07:31] AnujaPednekar commented on #74
@NishantKhandelwal1 Please check this.

[2020-05-19 07:46] AnujaPednekar commented on #84
This issue is similar to Nishant's issue of not able to exit on mobile network

[2020-05-19 07:47] AnujaPednekar commented on #84
@kanakagr Is it happening frequently?
Can you switch to wifi and check?

[2020-05-19 07:49] AnujaPednekar commented on #81
@kanakagr Is this issue related to #84 or is it happening every time?

[2020-05-19 08:06] kanakagr commented on #84
It's working in wifi. Issue on mobile network

[2020-05-19 09:37] AnujaPednekar commented on #78
Checked in code, not able to find any flaw

[2020-05-19 10:48] parthanjaria commented on #77
Issue is solved in v2.15.1. Please feel free to re-open the bug if found again.

[2020-05-19 10:48] #77 closed

[2020-05-20 05:53] kanakagr opened #85 "[BUG] Did not get a +1 red mark when a new feed was put up for JLL"
**Describe the bug**
Did not get a +1 red mark when a new feed was put up for JLL

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app (you should be in JLL league)
2. See the feed icon
3. Click to see a new feed put up today
4. See error

**Expected behavior**
Red mark should come indicating a new feed.

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2020-05-20 06:15] AnujaPednekar commented on #78
@kanakagr Please send a screenshot of your workout history of 18th May

[2020-05-20 06:38] AnujaPednekar commented on #78
![Screenshot_20200520-115334](https://user-images.githubusercontent.com/43374048/82413267-ac02f880-9a92-11ea-82f0-42dcde88f5ef.png)

[2020-05-20 07:01] AnujaPednekar commented on #78
![Screenshot_20200520-115334](https://user-images.githubusercontent.com/43374048/82414516-c938c680-9a94-11ea-8b3a-5c1e89a8b270.png)

I checked your GA events for workouts done on 18th May between 5 to 6 pm, I can see you got too short pop up at appropriate times but i spotted one issue which was in the workout done at 5:43 pm, you had covered a distance 0.0915 and you got too short pop up but the

[2020-05-20 07:02] AnujaPednekar commented on #78
![WhatsApp Image 2020-05-20 at 12 23 12 PM](https://user-images.githubusercontent.com/43374048/82415309-f46fe580-9a95-11ea-8777-95e00280384a.jpeg)

I checked your GA events for workouts done on 18th May between 5 to 6 pm, I can see you got too short pop up at appropriate times but i spotted one issue which was in the workout done at 5:43 pm, you had covered a distance 0.0915 and you got too short

[2020-05-20 07:23] parthanjaria commented on #78
No if the user gets too short popup then the workout is not supposed to be created. if it has, it is a bug.

[2020-05-20 12:35] 24Kavisha commented on #60
User Id - 583102
Run ID - 29840270
Device - Google Pixel 3XL
--

[2020-05-21 06:05] nikhilk90 commented on #79
yes, redirect it to create/join page.

[2020-05-21 07:01] sagrgpt commented on #81
This issue is linked with issue #84

[2020-05-21 07:59] AnujaPednekar commented on #51
I checked the video sent by Pawan for this issue, scroll seemed smooth to me.
As well as I asked other members to check this issue, they had no problem with it. Hence closing it.

Please reclose the issue if you face it again and send the video to me as well.

[2020-05-21 08:00] #51 closed

[2020-05-21 08:02] AnujaPednekar commented on #74
Issue resolved by backend. @adrija25 Please check.

[2020-05-21 08:02] #74 closed

[2020-05-21 09:06] parthanjaria commented on #68
Logs seen : ApiException: 10: SecurityException: com.google.step_count.delta requires android.permission.ACTIVITY_RECOGNITION

Need to explicitly ask Activity_Recognition permission to the user.

[2020-05-21 10:51] AnujaPednekar commented on #83
Made the required changes

[2020-05-21 10:51] #83 closed

[2020-05-21 10:57] sagrgpt commented on #76
Unable to reproduce this issue. Please reopen when you face this issue again.

[2020-05-21 10:57] #76 closed

[2020-05-21 11:18] #60 closed

[2020-05-22 06:02] parthanjaria commented on #24
The issue is solved in v2.15.2
Please feel free to report if the issue still persists

[2020-05-22 06:02] #24 closed

[2020-05-22 06:18] parthanjaria commented on #68
@24Kavisha @adrija25 until we solve this bug, you can ask the user to grand the "Physical Activity" permission from app settings page.

Please check these screens :

![Screenshot_20200522-114133](https://user-images.githubusercontent.com/14540386/82636969-6de80f00-9c21-11ea-9116-51fce89ce930.png)
![Screenshot_20200522-114142](https://user-images.githubusercontent.com/14540386/82636985-73ddf000-9c2

[2020-05-22 07:24] NishantKhandelwal1 opened #86 "Getting phone number in wrong format"
**Describe the bug**
Getting phone number in the wrong format for some users
"phone_number"='+965.9982.1908'
"user_id" = '548288'

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
it should come without special characters

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [Check app's setting screen]:**

**Additional context**
Source: l

[2020-05-22 08:26] apunuj commented on #70
@sagrgpt @parthanjaria @AnujaPednekar
No response on this in 7 days :/

[2020-05-22 08:31] apunuj commented on #73
@aayush-khandelwal
I have worked on this. Hope you are getting the notifications now?

[2020-05-22 08:43] parthanjaria commented on #85
The issue is resolved in 2.15.3. Please let us know if the issue still persists

[2020-05-22 08:43] #85 closed

[2020-05-22 09:18] AnujaPednekar opened #87 "[BUG]Blank screen appears after landing on teamlist page through notification"
**Describe the bug**
I click on the team request accepted notification and an empty page comes up always.and goes on indefinite loop when I try to refresh. When I go back to my teams list page, I see the team there - unable to reproduce due to no notifications

**Expected behavior**
Teamlist should appear

**Reported by** - Kanak Agarwal

**Version [Check app's setting screen]:**

[2020-05-22 09:26] AnujaPednekar opened #88 "[BUG]Friends won badge notification getting read by itself"
**Describe the bug**
Friends won badge notification getting read by itself

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Notification center
2. Saw unread notifications, read by itself

**Expected behavior**
Since I haven't clicked on it or on it's push notification, it should not be read.

**Version [Check app's setting screen]:**

[2020-05-22 09:26] AnujaPednekar commented on #88
@NishantKhandelwal1 Please look into this

[2020-05-22 09:33] AnujaPednekar opened #89 "[BUG]Options menu shows VIEW TEAM instead of MANAGE TEAM"
**Describe the bug**
Even though I am vice-captain, clicking on Options menu shows me View team instead of Manage team

**To Reproduce**
ViceCaptain -> Manage Team -> go back to team home page -> it shows team View Team in the menu

**Reported by** - Nishant Khandelwal and Anuja Pednekar

**Expected behaviour**
It should show Manage team

**Version [Check app's setting screen]:**

[2020-05-22 09:40] AnujaPednekar opened #90 "[BUG] Post detail screen should have swipe to refresh functionality"
**Describe the bug**
Post detail screen should have swipe to refresh functionality

**Reported by** - Khandu

**Version [Check app's setting screen]:** - 2.15.0.0

[2020-05-22 09:47] AnujaPednekar opened #91 "[BUG] 15 days badge notification takes to 7 days streak post"
**Describe the bug**
Clicking 15 days or 30 days streak badge notification from notification centre takes to 7 days streak post.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the notification centre
2. Click on notification of a friend completed 15 days or 30 days streak
3. Redirects me to 7 days streak completed post

**Reported by** - Kanak Agarwal

**Expected behaviour**
Should t

[2020-05-22 09:48] AnujaPednekar commented on #91
@NishantKhandelwal1 Please look into this

[2020-05-22 10:19] AnujaPednekar commented on #37
Checked her record on CED today. Passive is working for her now.

[2020-05-22 10:29] AnujaPednekar commented on #37
Please reopen this issue if faced again

[2020-05-22 10:29] #37 closed

[2020-05-22 11:21] AnujaPednekar commented on #78
Closing this issue since too short pop up appeared at appropriate times. Creating another issue since u didn't get to see TY screen.

Please reopen the issue if u face again.

[2020-05-22 11:21] #78 closed

[2020-05-22 11:31] AnujaPednekar opened #92 "[BUG]Thank you screen did not appear after JLL workout"
**Describe the bug**
Kanak did a workout and ended it, workout got created but TY screen didn't appear.

**Workout Details** - 18th May, 5:43PM

**Version [Check app's setting screen]:** 2.15.0.0

[2020-05-22 14:43] aayush-khandelwal opened #93 "Star ribbon on changemaker badge"
**Describe the bug**
Changemaker badge in team post shows star ribbon

**To Reproduce**
Na

**Expected behavior**
Ribbon should not come for changemaker badge

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20200522-200949](https://user-images.githubusercontent.com/64794993/82679420-92b3a500-9c68-11ea-8f59-986191e46b76.jpg)

**Version [Check app's setting

[2020-05-22 14:43] aayush-khandelwal commented on #73
Yes. I'm getting the notification

[2020-05-22 15:00] sagrgpt commented on #78
Check issue #92 for more details.

[2020-05-22 15:17] sagrgpt commented on #70
@apunuj we have moves this issue to high priority.

[2020-05-25 04:44] parthanjaria commented on #93
@aayush-khandelwal can you let me know which team is this showing?

[2020-05-25 04:44] aayush-khandelwal commented on #93
Impact Goa

[2020-05-26 13:12] 24Kavisha opened #94 "[BUG]"
**Describe the bug**
Unable to track steps/ 0 steps counted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to start workout
No steps are tracked

**Expected behavior**
3km workout should be tracked

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [Check app's setting screen]:**
2.14.7

**Additional context**
User ID - 588012
Device name - Lenovo

[2020-05-31 12:42] apunuj commented on #70
any updates on this?
When can I see it go live? League is till 19th June, bugfix should be live by 7th June ideally.

[2020-05-31 12:42] kanakagr commented on #70
Got this today on 2.15.2

[2020-05-31 12:50] apunuj commented on #73
Solved, hence closing.

[2020-05-31 12:50] #73 closed

[2020-06-03 07:05] kanakagr opened #95 "Supercard is thinner and smaller than cause card"
**Describe the bug**
Supercard should be of same size as cause card imo but it's smaller

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 2.16.0.1
2. Open the app
3. Swipe to see supercard
4. Compare the size with cause card

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot_20200603-122439](https://user-images.github

[2020-06-03 08:15] sagrgpt commented on #94
Duplicate Issue #60
We noticed that this an already closed issue. The details on this have been provided on the slack changemake_happens channel. Please refer to them.

[2020-06-03 08:15] #94 closed

[2020-06-03 10:43] Pawanm1990 opened #96 "Feed Link not attached on social media"
When sharing feed blog on social media only picture deliver not able to find links of page
![Screenshot_20200603-160407](https://user-images.githubusercontent.com/64827333/83627776-19477b00-a5b5-11ea-963b-dca2a30d97d3.png)

[2020-06-03 11:18] nikhilk90 opened #97 "Incorrect toast of post not loading"
Whenever I visit a teams post from notification center it shows me a toast that unable to load post while I can see the post.
![Screenshot_20200603-164803](https://user-images.githubusercontent.com/8169016/83630802-0b482900-a5ba-11ea-833b-ef11029f7241.jpg)

Version 2.16.0.1

[2020-06-03 13:11] apunuj commented on #70
@sagrgpt @parthanjaria @AnujaPednekar please respond with your plan to solve this

[2020-06-04 08:40] apunuj commented on #92
My dad faced the 'Too Short' pop up variant of this bug. He finished 1.97km of indoor workout in 2.15.2. But when he clicked on finish workout, he got the too short popup. He had to kill the app from background and restart to use Impact again.

Later when I checked, I could see this workout created at the backend in CED.

[2020-06-04 08:41] apunuj commented on #92
I recommend moving this bug to high priority/blocker because it is an experience killer.
@sagrgpt @AnujaPednekar @parthanjaria

[2020-06-04 09:14] parthanjaria commented on #70
I have started working on this

[2020-06-04 09:16] parthanjaria commented on #70
@apunuj @kanakagr can you share some sort of screen-recording for this?

[2020-06-04 10:43] kanakagr commented on #70
Had shared it on whatsapp group. Will fwd you on slack

[2020-06-04 10:53] kanakagr opened #98 "[BUG] Feed not loading on top"
**Describe the bug**
I clicked on the new feed notification on feed icon and it opened on an old feed post. Had to scroll down to see the latest post.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Click on new feed red notification
3. See if you see the latest feed

**Expected behavior**
It should always open on top

**Screenshots**
If applicable, add screenshots to help explai

[2020-06-04 10:56] kanakagr opened #99 "[BUG] Notification center notifications are read randomly"
**Describe the bug**
Posting this for the 6th time. Some of the badge winning notifications of team in notification center are read and some are unread. I haven't clicked on any.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notification center
2. See the notifications

**Expected behavior**
Everything should be highlighted blue if I haven't clicked on any

**Screenshots**
![Screensh

[2020-06-04 17:12] kanakagr commented on #84
Exit team is still not working on mobile network. 2.16.0.2

[2020-06-05 06:14] nikhilk90 opened #100 "streak break even after completing required distance"
Dear Team,
This is quite frustrating,
My streak broke again despite maintaining the run.
PFA the details.
I observed one instance when this happens
When I finish my active workout it counts the streak based on its KM.
Then I donate the steps as a passive workout, if the KM counted from the steps are less than the required KM to maintain the streak it resets the streak overwriting the results of ea

[2020-06-05 06:30] sagrgpt commented on #99
We noticed that the same issue has already been reported. Please continue on the same thread for faster response.  Duplicate of issue #88

[2020-06-05 06:30] #99 closed

[2020-06-05 06:34] sagrgpt commented on #97
Please follow the template while reporting an issue.

[2020-06-05 06:35] sagrgpt commented on #96
Please create an issue using the already existing templates.

[2020-06-07 17:46] kaziamina opened #101 "[BUG] Can't donate passive steps"
**Describe the bug**
Unable to donate my steps. Check error toast in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Got the 9pm notification
2. Clicked on it and it took me to the screen to select a cause
3. Clicked on donate and it showed me the pop up (ss attached) (it did not go to the orange tick loading screen btw)
4. Closed the app, opened it again and clicked on the numbe

[2020-06-07 17:56] kaziamina opened #102 "[BUG] 'Calculating your steps' pop up not going away."
**Describe the bug**
My friend got the 'calculating your steps' pop up and it wasnt going away from the notification drawer even after closing it, clicking it or opening the app.

**To Reproduce**
No steps as such, just got the pop up and didn't go away. Neither on clicking of it nor by dismissing it.

He opened the app too (didn't mention what actions he took) but didn't go either.

**Expected be

[2020-06-07 18:00] sagrgpt commented on #102
Thanks for reporting this issue. We have picked it up at high priority. This will be solved in the next release.

[2020-06-08 04:58] parthanjaria commented on #86
The user will be able to only add these characters : (0123456789+)

[2020-06-08 04:58] #86 closed

[2020-06-08 05:17] sagrgpt commented on #91
@NishantKhandelwal1 Any updates?

[2020-06-08 05:20] sagrgpt commented on #88
@NishantKhandelwal1 Any Updates?

[2020-06-08 05:21] sagrgpt commented on #98
@Share-Impact/backend-developers Can you please take a look at this?

[2020-06-08 10:50] parthanjaria commented on #96
@Pawanm1990 as discussed on call, Facebook, instagram and linkedIn only allow one media to be shared(either image or text)

[2020-06-08 10:50] #96 closed

[2020-06-08 12:03] parthanjaria commented on #97
It was showing the toast when getting a null value from db.

[2020-06-08 12:03] #97 closed

[2020-06-08 12:22] sagrgpt commented on #95
All issue with respect to supercard UI has been resolved in the v 2.16.0 and above.
Closing this issue now. Please reopen the issue if the problem still exists.

[2020-06-08 12:22] #95 closed

[2020-06-08 18:16] adrija25 opened #103 "[BUG] No post generated in team"
**Describe the bug**
No post generated for 1.1km workout (work out history- or 1.05km as per CED)  and 1 day streak in the team 'Impact official'

**To Reproduce**
Steps to reproduce the behavior:
You must be used to it by now.

**Expected behavior**
Post kardo bs...ek hi team Mei hu

**Screenshots**
![Screenshot_2020-06-08-23-43-07-080_com sharesmile share](https://user-images.githubusercontent.c

[2020-06-10 05:28] parthanjaria commented on #101
This happened beacuase the same day there was some issue at the backend related to donatioon API. If the issue reoccurs, feel free to reopen the issue.

[2020-06-10 05:28] #101 closed

[2020-06-10 07:15] sagrgpt commented on #103
@adrija25 We noticed a similar issue has already been previously reported. Closing this issue as a duplicate of issue #71

[2020-06-10 07:15] #103 closed

[2020-06-10 07:15] sagrgpt commented on #71
@Share-Impact/backend-developers Can you guys, please respond to the issues?

[2020-06-10 07:38] apunuj commented on #71
gaurav must have joined jll league for a day

[2020-06-10 10:20] NishantKhandelwal1 opened #104 "While clicking on notification at notification center error message is coming"
**Describe the bug**
When I clicking on notification sometimes after clicking it shows unread and showing error message even if everything is working fine

**To Reproduce**
Steps to reproduce the behavior:
Click on the notification in notification center

**Expected behavior**
Error message should not come

**Screenshots**
Sent video to parth and Sagar

**Version [Check app's setting screen]:**
2.

[2020-06-10 10:26] sagrgpt commented on #71
@apunuj
Are we sure about this? The attached issue paints a different picture.

[2020-06-10 10:32] sagrgpt commented on #97
@parthanjaria can you update the version number before closing the issue so that the author knows which version to update to so that they can check this issue is resolved.

[2020-06-10 10:33] NishantKhandelwal1 commented on #71
@sagrgpt In case of indoors, Are you adding a streak when the user completes 1250 steps and he has goal of 1 km?

[2020-06-10 10:34] sagrgpt commented on #104
@NishantKhandelwal1 We noticed that this issue has already been reported and fixed. Please search if an issue already exist before posting them.
You can reopen the issue if it still exists in version prior to the one mentioned.
Issue #97

[2020-06-10 10:34] #104 closed

[2020-06-10 10:35] sagrgpt commented on #71
Yes. We are.

[2020-06-10 10:36] NishantKhandelwal1 commented on #98
@sagrgpt I'll check this issue

[2020-06-10 10:38] NishantKhandelwal1 commented on #91
@sagrgpt This issue is fixed. We can close it

[2020-06-10 10:38] sagrgpt commented on #91
Kar de bhai close.

[2020-06-10 10:40] NishantKhandelwal1 commented on #88
@sagrgpt Work in progress... We are waiting to create cache keys of last 7 days notification of users... Will deploy remaining code at 17-18

[2020-06-10 10:44] apunuj commented on #71
can you explain how it paints a different picture?

[2020-06-10 11:00] NishantKhandelwal1 commented on #91
@sagrgpt mujhe option ni dikh rha yr

[2020-06-11 05:51] kanakagr opened #105 "[BUG] Entering into JLL league shows open causes"
**Describe the bug**
Even when I'm in JLL league, I see open causes and supercard

**To Reproduce**
Steps to reproduce the behavior:
1. Open app, go to league
2. Enter code jlla3
3. Go to Home and see the causes

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Video shared on #apptesting on slack

**Version [Check app's setting screen]:**
2.16

[2020-06-11 14:20] sagrgpt commented on #105
Duplicate of issue#70

[2020-06-11 14:21] #105 closed

[2020-06-15 09:02] kanakagr opened #106 "[BUG] Donate steps notification not coming"
**Describe the bug**
Daily notification of donating steps is missing even after having required steps

**To Reproduce**
Steps to reproduce the behavior:
1. Take more than 1000 passive steps
2. Check if they are recorded in Impact
3. Don't donate, wait for donation notification

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2020-06-15 09:04] sagrgpt commented on #106
@kanakagr For which date exactly did you miss the notification?

[2020-06-15 09:06] sagrgpt commented on #70
@parthanjaria Any update on this issue?

[2020-06-15 09:06] kanakagr commented on #106
Yesterday

[2020-06-15 09:06] kanakagr commented on #106
8 & 9 June also but I don't know what version I had then

[2020-06-15 09:17] sagrgpt commented on #106
@Share-Impact/backend-developers The device has not received notification from the backend for kanak on 8th and 9th. Please look into this

[2020-06-16 11:41] nikhilk90 opened #107 "no passive steps/workout recorded"
https://ced.impactrun.com/userdetail/523322

user is complaining that passive steps were not recorded on 15th June.
Also as per CED there is also an issue of duplicate workouts.

![Screenshot_2020-06-16-16-55-05-90_c24bb60af26cb8edb45f3dfeea801e6a](https://user-images.githubusercontent.com/8169016/84769994-6f281400-aff4-11ea-8cfd-f2d66585ae0d.jpg)

[2020-06-16 14:24] adrija25 opened #108 "[BUG] Leaderboard amount not increasing"
**Describe the bug**
I added 1000 steps with Step me App and donated 8Rs.
It reflected against my name on clicking the state name in league leaderboard but not total amount against the state name.
So, I repeated by adding 3000 steps again and the same thing happened.

Not adding steps to reproduce, the big description is clear...if any confusion, let me know.
Also, while we're at it, why am I stil

[2020-06-16 14:28] adrija25 opened #109 "[BUG] Spacing on top of league banner"
**Describe the bug**
Before entering league, the banner has little space on top and on entering league it goes away.

Not adding steps, screenshots will clarify the issue.

**Screenshots**
![Screenshot_2020-06-16-19-55-50-501_com sharesmile share](https://user-images.githubusercontent.com/64792558/84787550-be2d7380-b00b-11ea-81a3-0f6009360691.jpg)
![Screenshot_2020-06-16-19-56-00-921_com sharesmil

[2020-06-16 14:36] sagrgpt commented on #108
@Share-Impact/backend-developers This is an expected behavior of cache? Please confirm.

[2020-06-16 14:38] sagrgpt commented on #109
@adrija25 Thanks for reporting this issue. Your issue has currently been shifted to low priority.

[2020-06-17 12:28] nikhilk90 opened #110 "discrepancy in my stats and team leaderboard"
https://ced.impactrun.com/userdetail/523322

Few of the workouts don't have the team id and thus the difference.
Checkout workouts on 11thJune

[2020-06-18 09:20] ishannadkarni opened #111 "Multiple Step Donation - and Post in Team"
**Describe the bug**
Tripti from GSK is a user for about 2 months now, and has created a team with her colleagues at work. They compete each day for daily distance and total distance.

I just got off a call with her, and she told me that after the update, multiple step donations are happening. A few of her colleagues have figured out that clicking on donate button multiple times very fast makes it

[2020-06-18 18:25] kanakagr opened #112 "[BUG] Getting team push notifications even when I am in JLL league"
**Describe the bug**
Getting team push notifications even when I am in JLL league

**To Reproduce**
Steps to reproduce the behavior:
1. Join JLL league with code jlla3
2. Wait for someone to win a badge in your team and it's push notification

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your p

[2020-06-18 19:37] NishantKhandelwal1 commented on #91
This issue is solved

[2020-06-18 19:37] #91 closed

[2020-06-22 04:13] parthanjaria commented on #112
this is backend issue. @apunuj please look into this.

[2020-06-22 05:56] sagrgpt commented on #88
@NishantKhandelwal1 Any update?

[2020-06-22 05:57] sagrgpt commented on #98
@NishantKhandelwal1 Any update?

[2020-06-22 05:58] sagrgpt commented on #71
@Share-Impact/backend-developers Any comments?

[2020-06-22 05:58] sagrgpt commented on #106
@Share-Impact/backend-developers Any comments?

[2020-06-22 05:59] sagrgpt commented on #108
@Share-Impact/backend-developers Any comments?

[2020-06-22 06:07] kanakagr opened #113 "[BUG] Exiting from JLL league has issues"
**Describe the bug**
After exiting from JLL league, i see old causes as live and all causes in non impact form i.e. km instead of Rs

**To Reproduce**
Steps to reproduce the behavior:
1. Join JLL league
2. Exit and see causes
Videos shared on app_testing channel

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2020-06-22 06:26] NishantKhandelwal1 commented on #108
@sagrgpt this is expected behavior.

[2020-06-22 06:26] #108 closed

[2020-06-22 07:15] sagrgpt opened #114 "[BUG] Bonus steps added to passive after active workouts"
**Describe the bug**
If an active workout crosses the midnight i.e 00:00 then upon ending the workout the same number of distance is also added to available passive workout. This leads to a single workout being available for donation twice, once via active and again via passive.

**Expected behavior**
Steps taken during active workout should not be counted in passive workouts as well. Its a mutual

[2020-06-23 05:44] AnujaPednekar commented on #87
Unable to reproduce from myside

[2020-06-23 05:44] AnujaPednekar commented on #87
Kanak please feel free to reopen this issue, if faced again

[2020-06-23 05:44] #87 closed

[2020-06-24 05:01] kanakagr commented on #113
I exited from a testing league with special causes and even after exiting, I see league specific causes

[2020-06-24 08:05] sagrgpt commented on #113
Duplicate of issues #70

[2020-06-24 08:06] #113 closed

[2020-06-24 10:51] adrija25 opened #115 "[BUG] Not able to login"
**Describe the bug**
Installed the app today and tried to log in with one of my other previously registered unused Gmail id- adrija250195@gmail.com.
It didn't allow me to log in.
I am not logged in any other device

Check the video in-app testing channel.

**Version [Check app's setting screen]:** 2.16.6

**Additional context**
Add any other context about the problem here.

[2020-06-25 04:27] NishantKhandelwal1 commented on #88
Deployed on production...Testing in-progress

[2020-06-25 06:09] 24Kavisha commented on #100
179238
249577
@parthanjaria @sagrgpt pl check it on priority ( if possible)
Users reported this issue twice this week

[2020-06-25 06:45] sagrgpt commented on #100
@24Kavisha This issue is set on high priority and set to be fixed and released with ver 2.16.7 expected date: 5/07/20

[2020-06-25 09:02] sagrgpt opened #116 "[BUG] Discrepancy in my profile and global leaderboard total amount"
**Describe the bug**
The total amount displayed in the profile screen is different from that displayed in the all-time global leaderboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile check amount
2. Go to global leader board
3. Check amount

**Expected behavior**
Profile amount and global leaderboard all-time amount should be the same.

**Screenshots**
If applicable, add sc

[2020-06-25 17:22] kanakagr commented on #106
Still not coming

[2020-06-25 17:24] kanakagr opened #117 "[BUG] Can't see team list or refresh team"
**Describe the bug**
I'm a captain of a team but manage team page is not opening, the team page is not refreshing and I'm not getting any notification of join request

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Teams
2. Open a team you're a captain of
3. Click on manage team
4. Try to refresh the team main page

**Expected behavior**
A clear and concise description of what you expe

[2020-06-25 18:16] apunuj commented on #106
@kanakagr must have joined and exited from jll league. the token is not instantly whitelisted for notifications once the user exits the league. I am exiting her. Let's see if she gets the notification tomorrow

[2020-06-25 18:18] kanakagr commented on #106
I didn't join JLL league since yesterday

[2020-06-25 18:30] apunuj commented on #106
after one joins league, notifications need to be enabled manually for them.
when did you last exit the league?

[2020-06-26 03:51] sagrgpt commented on #117
@NishantKhandelwal1 I hope you are already looking into this. Please let us know the update.

[2020-06-26 05:10] sagrgpt commented on #92
We have identified and fixed this issue on v2.16.7.
Please reopen the issue of not fixed for v2.16.7+

[2020-06-26 05:10] #92 closed

[2020-06-26 05:31] NishantKhandelwal1 commented on #117
It doesn't look like a team related bug. Server was high that time(10:30-11:10) and due to this request was failing.

![impact_no…_env_production_Datadog](https://user-images.githubusercontent.com/19950800/85824001-5eb62d00-b79c-11ea-9a34-3074eef8a23e.png)

[2020-06-26 05:33] NishantKhandelwal1 commented on #117
Closing this issue.. Feel free to open if you face again

[2020-06-26 05:33] #117 closed

[2020-06-26 06:08] #102 closed

[2020-06-26 06:10] sagrgpt commented on #102
@kaziamina We have identified and fixed this issue for v2.16.7
Please reopen if you still face this issue in future versions.

[2020-06-26 08:55] nik6018 opened #118 "[BUG] Unable to start Active Workout if device has no internet connectivity"
**Describe the bug**
If the device has no internet connectivity, pressing the **Indoor Workout** CTA on the cause card show's me G-Fit permission screen to allow step tracking, if I click on allow it gives me a toast with **Permission Denied** this error msg.

Killing & restarting the app has the same behaviour.

If I turn on internet connectivity, I am able to start the workout without any issues

[2020-06-26 12:37] NishantKhandelwal1 opened #119 "UI is not correct in small size mobile"
**Describe the bug**
Ui was not correct

**To Reproduce**
Steps to reproduce the behavior:
sharing screenshots

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![WhatsApp Image 2020-06-26 at 5 57 37 PM](https://user-images.githubusercontent.com/19950800/85857521-aa39fc80-b7d7-11ea-85e1-9c0c06028c38.jpeg)
![WhatsApp Image 2020-06-26 at 5 51 01

[2020-06-29 11:46] parthanjaria commented on #100
Sent a new build 2.16.8.
The users with the similar issue if report streak break then please let us know.
@24Kavisha @NishantKhandelwal1

[2020-06-30 08:31] nikhilk90 opened #120 "False Usain Bolt (high expectation breaker)"
**Describe the bug**
User is walking, still getting usain bolt due to GPS speed parameter
user - https://ced.impactrun.com/userdetail/455970

user feedback
"whenever I increase my pace by little, I get this annoying alert/pop up which is ruthless and baseless. how come you say that I'm in a vehicle without even knowing . please get your team and app basics right. I'm sick of giving this feedback a

[2020-06-30 15:29] apunuj commented on #112
I have checked the code. It should not be happening. One scenario in which it can happen is when you exit the league from the backend but in client you are not exited yet due to unreliable exit issue.
@kanakagr please let me know if that was the case or if it is happening always.

[2020-07-02 10:10] aayush-khandelwal opened #121 "[BUG] Images don't load most of the time I open the app"
**Describe the bug**
Images don't load most of the time I open the app even if the Internet connection is strong. If you go to any other tab and come back to homepage, all images load instantly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the App
2. Check the profile picture, cause image and badge image
3. Click on Teams, more or any other tab
4. Click on the homepage again and veri

[2020-07-02 10:14] aayush-khandelwal opened #122 "[BUG] App opens at random old screens that I visited"
**Describe the bug**
Whenever I open the app, it sometimes opens at screens that I had visited few hours ago. Like the passive donation screen, Manage teams screen, and sometimes a team's post. This happens even when I don't leave the app at that screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the App
2. Check whether it opened or homepage or not!

**Expected behavior**
The app

[2020-07-03 15:43] adrija25 commented on #115
Still facing the same issue @sagrgpt @parthanjaria @AnujaPednekar
![Screenshot_2020-07-03-21-10-53-137_com sharesmile share](https://user-images.githubusercontent.com/64792558/86483606-066dc500-bd72-11ea-90d8-3e2a3c9d0b60.jpg)

[2020-07-04 19:50] adrija25 opened #123 "[BUG] Wrong number of members visible in July Walkathon"
**Describe the bug**
I entered July Walkathon and it's showing total member as 1, the workouts and total amount is accurate (I think)...could be cache issue.
But reporting anyway.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_2020-07-05-01-14-39-638_com sharesmile share](https://user-images.githubusercontent.com/64792558/86519980-989ec780-be5d-11ea-9136

[2020-07-05 04:16] kanakagr opened #124 "[BUG] Can't see everyone on teams leaderboard"
**Describe the bug**
My team has 219 people but I can only see 101 people on the leaderboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Teams
2. Search for Team RBL Bank Official
3. Send a request to join
4. See leaderboard

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot_20200705-094528](https://user-images.gith

[2020-07-05 08:48] #123 closed

[2020-07-06 16:06] sagrgpt commented on #100
The changes made on the release 2.16.8 had an adverse effect on the app's functionality wrt to streak. We witnessed more users reporting irregular breaking of streak even though the km required were covered.

https://ced.impactrun.com/userdetail/577011
https://ced.impactrun.com/userdetail/298070
https://ced.impactrun.com/userdetail/151828
https://ced.impactrun.com/userdetail/278447

[2020-07-08 18:47] nikhilk90 opened #125 "Active workout turned into passive [BUG]"
https://ced.impactrun.com/userdetail/383504
workout on 7th of around 21km did not come up, instead a passive workout was created.

<img width="1440" alt="Screenshot 2020-07-09 at 12 14 28 AM" src="https://user-images.githubusercontent.com/8169016/86958163-5e913680-c179-11ea-87f2-563cfcc9f9d8.png">

https://impactapp.freshchat.com/a/154002725929316/inbox/3/0/conversation/322614919380240

[2020-07-09 20:06] nikhilk90 opened #126 "active not recording, steps done during active goes into passive[BUG]"
When i am starting workout after starting it is not capturing the steps and when i am checking the same after ending workout it is showing in passive steps.
Please check

https://impactapp.freshchat.com/a/154002725929316/inbox/3/0/conversation/305287835594601

https://ced.impactrun.com/userdetail/300921

[2020-07-10 07:16] Pawanm1990 opened #127 "User Id - 125197 Multiple Workouts not added"
User Id : 125197
Moti Singh one of our user facing issue in global ranking and multiple workouts of 28th and 30th June not added in Workouts history, chart. Even this amount not added on total.
Version 2.19.9.1
Motorola x4
As discussed with Anuja, she said it will be resolved in next build.
Please find the user feedback......
Ver-2.19.9 Update par            pahel *97578* tha
Update ke baad ver-2.

[2020-07-14 09:27] kanakagr commented on #124
And unlike other leaderboards, there's no blue bar for myself in teams leaderboard so I don't know my position and there's no way to check if I'm not in the first 101

[2020-07-14 14:22] gauravchauhan677 opened #128 "[BUG]Detect distance when traveling on bike."
**Describe the bug**
A clear and concise description of what the bug is.
Started workout in bike, after sometime popup came vehicle then i resume it then it detect more distance. I was completely on vehicle and it almost detect km of workout.
**To Reproduce**
Steps to reproduce the behavior:
1.starout workout on vehicle.
2. Then resume vehicle popup.
3. Then resume vehicle popup.
*Expected behavio

[2020-07-15 08:11] nikhilk90 opened #129 "Reduction in steps"
This morning I had work out and current steps recorded in Google Fit and Impact were matching as 18000+ steps. Now when I had another 1000+steps But now Impact has reduced all those, mere as 2500.
- reported on 15/07/2020, 13:28:06

https://ced.impactrun.com/userdetail/333920

[2020-07-15 12:56] nikhilk90 opened #130 "clashing passive and outdoor workout [BUG]"
https://ced.impactrun.com/userdetail/567866

checkout workout if 14/07/2020
<img width="669" alt="Screenshot 2020-07-15 at 6 26 35 PM" src="https://user-images.githubusercontent.com/8169016/87547439-baebdd00-c6c8-11ea-8d6d-4ba0d6e5317c.png">

[2020-07-17 08:09] nikhilk90 opened #131 "profile stat league mismatch [BUG]"
in my profile the total amount shown is Rs.2623 but in league (my group ) the amount shown is 2423. So kindly look into the matter and add Rs.200 to my league amount.

https://impactapp.freshchat.com/a/154002725929316/inbox/0/0/conversation/377673528316436
https://ced.impactrun.com/userdetail/718975/

[2020-07-17 08:55] adrija25 opened #132 "[BUG] Project link in feed not working"
**Describe the bug**
The project link for Vesta in feed is not working.
On multiple click feed shows network error.
My network is fine.
Tried both wifi and mobile data.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_2020-07-17-14-16-57-387_com sharesmile share](https://user-images.githubusercontent.com/64792558/87768064-3b315000-c839-11ea-8922-eb7d4dba9f

[2020-07-17 11:44] nikhilk90 opened #133 "reduction in number of passive steps [BUG]"
This morning I had work out and I had observed 18000+ steps in Google Fit and Impact, which were perfectly in Sync. But now when I had walk worth of additional 1000+ steps, Impact Application has reversed the count from 18000+ to 2500 steps and I am wondering Why it has deleted 17000+ steps and now Not showing steps as 19000+, same as Google Fit

https://impactapp.freshchat.com/a/154002725929316/i

[2020-07-17 19:21] nikhilk90 opened #134 "donation is coming 0 but money is showing more[BUG]"
"Sir my workout is starting from
Huge amount
Please look into it and solve my problem
Because of that problem I am not doing impact
But donation is coming 0 but money is showing more"

https://impactapp.freshchat.com/a/154002725929316/inbox/0/0/conversation/376669895280637

[2020-07-20 13:12] kanakagr opened #135 "[BUG] Workout notification shows amount but workout screen shows zero"
**Describe the bug**
After an outdoor Workout, if I open the app by clicking on app icon instead of workout notification, it still shows zero while the notification shows correct amount. Also it doesn't update even after waiting for a while on that screen

**To Reproduce**
Steps to reproduce the behavior:
1. Start an outdoor workout and minimize the app on countdown screen
2. Open the app icon to

[2020-07-21 05:29] Pawanm1990 opened #136 "User ID - 207653 Less distance"
**Describe the bug**
[7/20, 8:25 PM] +91 98702 76694: Counting less distance😔😔
[7/20, 8:27 PM] +91 98702 76694: Walking continously....but showing only 2.2km within 1 hour 😔😔

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home Page
2. Click on 'Workout
3. Scroll down to '....'
4. See error

**Expected behavior**
It should be count as per the distance.

**Screenshots**
![IMG-20200721-W

[2020-07-22 12:49] apunuj opened #137 "[BUG] Workout screen shows 0 for a few seconds before showing the right data"
**Describe the bug**
When after doing a workout of 3.9 km, I opened the app, the workout screen showed 0. After a few seconds, it started showing the correct data. This has been happening every day on my dad's phone.

**To Reproduce**
Steps to reproduce the behavior:
1. Start indoor active workout.
2. Lock the phone screen.
3. Go for a long workout (~3.5 km)
4. Open the app again on the workout sc

[2020-07-24 05:57] kanakagr opened #138 "[BUG] Not getting team join request notifications"
**Describe the bug**
Not getting notifications for request to join team where I'm the captain. I have just switched off the notifications of friends achievements not team activity

**To Reproduce**
Steps to reproduce the behavior:
1. Ask people to join a team you're a captain of
2. See if you get the notification
3. In settings, keep the friends activity type notification off
4. Ask people to join

[2020-07-24 09:16] nikhilk90 opened #139 "Steps coming 0 while distance is >0 [BUG]"
https://impactapp.freshchat.com/a/154002725929316/inbox/3/0/conversation/379471970148093
![img_1595575924370](https://user-images.githubusercontent.com/8169016/88376895-eacb6c80-cdbb-11ea-9bc5-caf8d2231f16.jpeg)
![img_1595576138369](https://user-images.githubusercontent.com/8169016/88376902-eef78a00-cdbb-11ea-84fa-717657aae44d.jpeg)

[2020-07-27 13:40] Pawanm1990 opened #140 "User id - 80695 Workout not synced"
**Describe the bug**
He is facing  Workouts not synced issue. Wrong distance calculation in less time. Sometimes getting less distance, like did 6km but counting 4.1km

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.workout history'
2. Click on 'profile
3. Scroll down to '....'
4. See error

**Expected behavior**
He should get correct distance as per the time

**Screenshots**
![IMG-2

[2020-07-27 13:53] Pawanm1990 opened #141 "User Id - 125197 Multiple Workouts"
**Describe the bug*
He is facing issue of multiple workouts and not added Workouts of 28th June. as discussed with Anuja it will be resolved soon.

**To Reproduce**
Steps to reproduce the behaviour
Workout history

**Expected behavior**
Everytime he is facing multiple workouts issues please fix it
**Screenshots**
![IMG-20200726-WA0004](https://user-images.githubusercontent.com/64827333/88549640-2e

[2020-07-28 08:17] kanakagr commented on #124
@sagrgpt any update on this? Getting feedback from people that they can't see all their team members on the leaderboard but they would like to track everyone

[2020-07-29 11:01] AnujaPednekar commented on #124
We are getting data of only 101 users in leaderboard list, @NishantKhandelwal1 can you please check?

[2020-07-29 11:41] AnujaPednekar commented on #127
This user issue is resolved from backend but the underlying reason is multiple active workouts are created with same client run id

[2020-07-29 11:43] AnujaPednekar commented on #126
Is he ending the workout after 12 am?

[2020-07-29 12:53] AnujaPednekar commented on #138
@apunuj Can you check this?

[2020-07-29 12:56] AnujaPednekar commented on #132
Can you please retry, working for me

[2020-07-29 12:58] AnujaPednekar commented on #121
Please check your internet connection

[2020-07-29 13:09] AnujaPednekar commented on #141
There are two issues:
1. Active workout getting converted to passive ending after 12
2. Multiple passive workouts getting created

[2020-07-29 14:02] adrija25 commented on #132
![Screenshot_2020-07-29-19-31-16-499_com.sharesmile.share.jpg](https://user-images.githubusercontent.com/64792558/88809838-30c86c00-d1d2-11ea-863f-a8689c962cdd.jpg)

Not working
Everything else working fine.

[2020-07-30 07:42] sagrgpt commented on #115
https://sharesmile.slack.com/files/UBNK3BHT7/F015HUAMH39/screenrecorder-2020-06-24-15-25-37-612.mp4

[2020-07-30 08:00] sagrgpt commented on #134
Similar issue is being faced with user https://ced.impactrun.com/userdetail/80695
[Click here for images related to this issue](https://github.com/Share-Impact/Android-Impact-Issues/files/4999810/WhatsApp.Unknown.2020-07-30.at.1.29.12.PM.zip)

[2020-07-30 08:10] sagrgpt commented on #132
@AnujaPednekar It's not working in my device as well. Please check,

[2020-07-30 08:18] sagrgpt commented on #128
@gauravchauhan677 I see that your distance was increasing even when you were on a vehicle. However, I also noticed that, you kept on getting the Vehicle alert popup. Do you remember how many times this popup appeared for you?
The current behavior of the system is to show the user vehicle popup for 3 times and if the user still stays on the vehicle. The whole workout is stopped and discarded. Did y

[2020-07-30 09:10] adrija25 commented on #115
My slack is deactivated.

On Thu, 30 Jul 2020, 1:12 pm Sagar Gupta, <notifications@github.com> wrote:

[2020-07-30 10:50] adrija25 opened #142 "[BUG] Playstore shows app update option even after I updated the app"
I have updated the app, reinstalled the app.
Yet the option to update it doesn't go away.
On click it shows Open and uninstall options.
I am not sure if it's play store issue or Impact's.
Haven't faced with any other app.
Been happening for a month now.

![Screenshot_2020-07-30-16-16-49-028_com android vending](https://user-images.githubusercontent.com/64792558/88914588-7b082680-d280-11ea-876d-5ed

[2020-07-30 10:59] adrija25 commented on #115
My slack is deactivated but I am still facing the issue.
So if you need any other recording let me know via WhatsApp.

[2020-07-31 07:40] nikhilk90 opened #143 "Steps retrieval system did not work, no. of steps showing accurate results than recorded distance via GPS"
https://ced.impactrun.com/rundetail/46697926

As subjected above, everytime the problem with impact is less recording time. It is since long time. Battery setting is also ok andsame as for endomondo and strava. I am sending here the screenshots for your perusal please. Solve the problems as soon as possible as we , serious runners have no time to complain again and again to you. Please don't forge

[2020-07-31 09:58] nikhilk90 opened #144 "Photo not coming up in leaderboard[BUG]"
https://impactapp.freshchat.com/a/154002725929316/inbox/0/0/conversation/378069198648527

![img_1595057348299](https://user-images.githubusercontent.com/8169016/89024237-6ab88000-d342-11ea-8f92-7c0dc40f333a.jpeg)
![img_1595057294037](https://user-images.githubusercontent.com/8169016/89024257-6e4c0700-d342-11ea-8202-f8823e9e8d4d.jpeg)

[2020-08-02 03:55] kanakagr opened #145 "[BUG] I have zero steps today but got a notification of daily goal completion"
**Describe the bug**
Got a notification of daily goal completion but I didn't do any steps today

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version [Che

[2020-08-02 03:57] kanakagr commented on #124
Please check this on priority. Been getting requests from users

[2020-08-04 15:22] sagrgpt commented on #134
We are resolving this issue with the release of **v2.16.13**. If you still face the problem in or above the mentioned version feel free to reopen this issue.

[2020-08-04 15:22] #134 closed

[2020-08-05 09:22] nikhilk90 opened #146 "Incorrect Steps to distance conversion"
https://impactapp.freshchat.com/a/154002725929316/inbox/0/0/conversation/384465280362784

[2020-08-05 14:12] sagrgpt commented on #146
Description:
There seems to be some issues with the step counter in the app... It's getting goofed up when I start indoor workout... Also the passive steps are not counted and the collected money is not showing... Please fix it

UserId: 893872
RunId: 49226106

![img_1596618793142](https://user-images.githubusercontent.com/11998999/89422739-57971d00-d753-11ea-8533-1cfb66a00789.jpeg)

[2020-08-05 14:25] sagrgpt commented on #145
Was there any steps for previous day that you donated after clicking on the daily goal completion notification?

[2020-08-05 14:31] sagrgpt commented on #135
I'm unable to reproduce this issue. How frequent is this issue to you?

[2020-08-05 14:36] sagrgpt commented on #142
This is an issue from the play store side. This is possible as you are an internal user of the application and have versions not in the correct order which is not the issue for our production users.

[2020-08-05 14:36] #142 closed

[2020-08-05 14:40] sagrgpt commented on #71
I have been facing this issue on a regular basis personally and have informed Parth regarding the same. @Share-Impact/backend-developers Do we have any progress or are we parking this issue for late resolution (due to low priority)?

[2020-08-05 15:10] kanakagr commented on #135
I haven't done active workout in many days. Will do again and check if it's happening again.

[2020-08-10 06:02] parthanjaria commented on #68
Have made the respective changes by upgrading the compileSDK to 29. The user will get the prompt to give permission for PhysicalActivity. Please let us know if the issue still persists.

[2020-08-10 06:02] #68 closed

[2020-08-10 06:04] parthanjaria commented on #144
can you share which team this user is in? @nikhilk90

[2020-08-10 09:44] sagrgpt commented on #140
This is a duplicate of issue#134

[2020-08-10 09:44] #140 closed

[2020-08-11 06:18] parthanjaria commented on #141
@sagrgpt if multiple workout issue is resolved in the latest build then please close the issue.

[2020-08-11 06:44] parthanjaria commented on #132
This is working fine in multiple devices. Must be some network issue. If issue still persists then feel free to reopen the issue.

[2020-08-11 08:57] parthanjaria commented on #127
The multiple workout issue is resolved in 2.16.4. If the issue still persists then please feel free to reopen the issue.

[2020-08-11 08:57] #127 closed

[2020-08-11 09:14] parthanjaria commented on #118
@nik6018 Please update the app to 2.16.15 version and let us know if the issue still persists.

[2020-08-11 09:14] #118 closed

[2020-08-11 11:24] parthanjaria commented on #124
Not a bug, but its the feature.
Nishant has changed the leaderboard limit to 300 as of not.

Pagination feature needs to be added. This has been added to pipeline. @nikhilk90

[2020-08-12 10:05] sagrgpt commented on #132
This issue still exists. As discussed with @AnujaPednekar , there is a specific use case to replicate this issue.

[2020-08-12 10:10] sagrgpt commented on #141
This issue is a duplicate of issue #111

[2020-08-12 10:10] #141 closed

[2020-08-12 10:12] sagrgpt commented on #135
Closing this issue as it was not reproduceable.

[2020-08-12 10:12] #135 closed

[2020-08-12 12:29] kanakagr commented on #145
No

[2020-08-14 06:48] sagrgpt commented on #127
The multiple workout issue is resolved in **2.16.14**

[2020-08-14 08:17] NishantKhandelwal1 commented on #98
@kanakagr Fixed this issue

[2020-08-14 08:17] #98 closed

[2020-08-14 08:21] NishantKhandelwal1 commented on #132
Project link is working. We have to wait a few moments then it will open

[2020-08-17 05:01] parthanjaria commented on #144
@nikhilk90 unable to contact the user. I have messaged him from whatsapp, but no reply. I saw from postman, there seems to be no issue there.

[2020-08-17 05:08] parthanjaria commented on #131
The issue has been resolved from backed. @nikhilk90 let us know if the issue still perists.

[2020-08-17 05:08] #131 closed

[2020-08-17 07:20] sagrgpt commented on #132
**Steps to reproduce the issue**:
1. Open "Building Green Sand Beach to fight off the climate Crisis" blog in the feed
2. Scroll down to the hyperlink in the blog.
3. Click on the link twice with a gab of 1-2 sec between the clicks.
4. Poor Connection screen is now visible. **[ERROR]**
5. If the does not appear then press back and try step 3 again.

[2020-08-17 07:28] sagrgpt commented on #111
Multiple passive workouts are present in production for versions >= 2.16.*

[2020-08-17 07:51] sagrgpt commented on #137
This is an issue of resource optimization. This particular screen requires more resource optimization so that devices will low resources can display this screen without the visible lag in the UI.
Currently shifting it to low priority.

[2020-08-17 07:58] sagrgpt commented on #107
User [812454](https://ced.impactrun.com/userdetail/812454) is facing similar issue.
<p>
<img width="100" height="200" src="https://user-images.githubusercontent.com/11998999/90370284-d01ea780-e08a-11ea-9a1a-9ca367a94eee.jpg">
<img width="100" height="200" src="https://user-images.githubusercontent.com/11998999/90370305-d7de4c00-e08a-11ea-9be0-d5ded2d7d21c.png">
<img width="100" height="200" src="h

[2020-08-18 06:39] sagrgpt opened #147 "[BUG] Multiple passive workouts"
**Describe the bug**
Suppose that during passive step donation there are yesterday's as well as today's steps. Now, yesterday's passive  workout for some reason has not been synced. So as soon as the user opens the app
1. A background service to sync all runs is triggered. This makes a POST RUN API request. (Undonated Passive Workout)
2. After opening the app user immediately goes to do donation.

[2020-08-18 06:53] sagrgpt commented on #111
This issue has been resolved. However, another issue related to multiple passive donation was recognized during the resolution. I have created a sister issue #147 for the same and posted it on the backend board.
Any update will be further carried forward in the above mentioned issue.

[2020-08-18 06:53] #111 closed

[2020-08-18 08:01] sagrgpt commented on #130
User was able to donate this same steps as he did in active workout because, the active workout was automatically flagged and hence, the active workout was not recognized as valid. However, google fit also record these steps and were valid according to their calculation. Hence, the steps reappeared as passive.

This is the reason for duplicate workout.

[2020-08-18 09:57] Pawanm1990 opened #148 "User Id - 123316 Workouts not count steps, amount"
User Id - 123316 Workouts not count steps, amount and calories.
User name - Aruna
Id - 123316
Version - 2.16.15
Device - Honor JSn l42
![IMG-20200818-WA0000](https://user-images.githubusercontent.com/64827333/90499438-31b44400-e167-11ea-840c-c12889a74a56.jpg)
![IMG-20200818-WA0000](https://user-images.githubusercontent.com/64827333/90499469-3aa51580-e167-11ea-9095-55c9b1a9c70e.jpg)
![IMG-20200818-

[2020-08-18 12:59] sagrgpt commented on #130
An immediate solution to this issue is not possible.
The current implementation of flag **IsInValid** is such that workouts flagged from the backend are not considered during Passive calculation. This flawed implementation helps in Passive Steps not going down to negative (which'll happen only incase of duplicate active/passive workouts.)

Hence, The bottle neck for this issue is duplicate passive

[2020-08-19 07:42] sagrgpt commented on #143
This seems to be a short coming of our distance algorithm. Multiple scenarios are observed for this device:

1. For workout on 12/08/20 run: 51518045 there is a lack of location input from GPS sensor which results in less distance of about 8Kms. However, the distance calculated using Google Fit sensor API is 5km less than user's expectation. It should also be noted that Google Fit shows 19Km for t

[2020-08-19 08:16] apunuj commented on #143
We need to figure out and reverse engineer the source of difference between google fit API and google fit app.

[2020-08-19 09:55] sagrgpt commented on #107
@nikhilk90 The reported issue for [523322](https://ced.impactrun.com/userdetail/523322) is due to the duplicate indoor workout created. We have worked on this issue recently and since then there wasn't any duplicates reported. Hence, it save to assume that this issue is resolved.

For [812454](https://ced.impactrun.com/userdetail/812454) the issue occurred because impact steps were more than googl

[2020-08-19 09:55] #107 closed

[2020-08-19 10:06] sagrgpt opened #149 "Addition of steps to google fit is not working."
**Describe the bug**
Whenever the steps calculated by impact are more than google fit steps, we add steps to google fit so that the logic behind passive calculation stays intact. It was noted that this insertion of steps is not working sometimes.

**Expected behavior**
Whenever the steps calculated by impact are more than google fit steps, the difference must be added to Google Fit

**Screenshots*

[2020-08-19 12:13] sagrgpt commented on #143
Well there is no document explaining the reason for the difference. This is their official statement on the difference:

They definitely would have chosen different words if only it was more vague.

[2020-08-19 12:14] sagrgpt commented on #143
@apunuj
Well there is no document explaining the reason for the difference. This is their official statement on the difference:

We work hard to provide a magical experience. Google Fit uses a mix of sensors(Accelerometer, Step counter, Significant Motion counter), Machine Learning and heuristics to get the data right. We periodically poll accelerometer and use Machine Learning and heuristics to c

[2020-08-21 06:35] Pawanm1990 opened #150 "User Id - 44017 streak not maintained but showing streak is maintained"
**Describe the bug**
User Id - 44017
Username - Adrija Chowdhury
streak not maintained but showing streak is maintained

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
It should be streak not maintained

**Screenshots**
![IMG-20200821-WA0000](https://user-images.githubusercontent.com/64827333/90859783

[2020-08-21 08:04] sagrgpt commented on #148
This issue is resolved for v2.16.16 which at the current time is in beta.
**Please request user to look out for a release soon.**
**For immediate fix request user to**
1. Long press the app icon on home screen/app drawer
2. Select "App info"
3. Select "App permissions"
4. Allow "Physical Activity" permission.
5. Restart the device.

**Also, this user has battery optimization turned on**. Please **

[2020-08-21 08:04] #148 closed

[2020-08-24 09:20] sagrgpt commented on #146
This issue has been resolved for ver 2.16.13.
Duplicate of issue #134

[2020-08-24 09:20] #146 closed

[2020-08-24 10:14] parthanjaria commented on #144
The issue is resolved, as talked with the user. Please feel free to reopen the issue if still persists.

[2020-08-24 10:14] #144 closed

[2020-08-24 11:48] sagrgpt commented on #145
Closing this issue as we are unable to reproduce it. Please reopen, if it reappears.

[2020-08-24 12:13] sagrgpt commented on #133
This issue is a duplicate of issue #129

[2020-08-24 12:13] #133 closed

[2020-08-25 07:03] sagrgpt commented on #125
@nikhilk90 The workout is create for 21Km on 6/07/20 instead of 07/07/20. This is because the user started the workout on 6th and continued the same workout on 7th. The workouts are ordered and recognized by their start date.
I hope this issue is resolved. Please reopen if you have any other concerns.

[2020-08-25 07:03] #125 closed

[2020-08-25 08:55] sagrgpt commented on #149
Duplicate of issue #30

[2020-08-25 08:55] #149 closed

[2020-08-27 04:34] sagrgpt commented on #145
This issue reappeared on 27th Aug for [@kanakagr](https://ced.impactrun.com/userdetail/35) at 08:17 AM
Here's the relevant screenshots:
<p>
<img width="100" height="200" src="https://user-images.githubusercontent.com/11998999/91384406-21c5ef80-e84c-11ea-8ee3-17dbd1c74f4e.png">
<img width="100" height="200" src="https://user-images.githubusercontent.com/11998999/91384402-1e326880-e84c-11ea-94c4-a59

[2020-08-27 05:07] parthanjaria commented on #150
App issue resolved in 2.16.17.1. Please reopen the issue if still persists?

[2020-08-27 05:07] #150 closed

[2020-08-27 05:46] #136 closed

[2020-08-27 05:46] #30 closed

[2020-08-27 08:17] parthanjaria commented on #109
issue resolved after 2.16.18

[2020-08-27 08:17] #109 closed

[2020-08-27 08:49] parthanjaria commented on #115
Issue has been resolved from backend.

[2020-08-27 08:49] #115 closed

[2020-08-27 09:09] parthanjaria commented on #100
Issue resolved in 2.16.17.1

[2020-08-27 09:09] #100 closed

[2020-08-27 09:19] parthanjaria commented on #110
The issue has been resolved as check from backend. Please reopen the issue if still persists

[2020-08-27 09:19] #110 closed

[2020-08-27 11:03] adrija25 opened #151 "[BUG]"
**Describe the bug**
am on 8th day streak today (27th Aug) but the 7 day streak badge post got generated today, it should have reflected yesterday along with the daily goal completed post.
Could have been sync issue but if the daily goal post showed up why did the badge post reflect after 24 hours almost.

I have tried to explain in the best possible way, but if it's not clear...let me know.

**Sc

[2020-08-27 13:24] parthanjaria commented on #93
Issue is resolved after 2.16.19

[2020-08-27 13:24] #93 closed

[2020-08-28 04:26] parthanjaria commented on #116
The issue was there because of few duplicate workouts. And since duplicate workouts are neglected at client end having the same clientID, thus the value in the profile was correct. I searched all workouts of this users and flagged the duplicate workouts. Now the value in profile and leaderboard are same.

[2020-08-28 04:26] #116 closed

[2020-08-28 04:33] parthanjaria commented on #19
This is a duplicate issue as of #116

[2020-08-28 04:33] #19 closed

[2020-08-28 07:30] sagrgpt commented on #126
This issue is resolved on version post 2.16.3. I have checked with the user as well. He is not facing this issue anymore.

[2020-08-28 07:30] #126 closed

[2020-08-28 07:34] sagrgpt commented on #129
@Share-Impact/android-developers Inconsistency in detailed data while fetching data using history client for passive calculation is noticed. This requires robust implementation of session in google fit.

Adding this to the product backlog and setting current priority level to low.

[2020-08-28 07:41] sagrgpt commented on #119
This issue is either due to support of low end api levels which are in discussion for removal or else, this is due to incorrect handling of text scaling (dp/px) during UI implementation on the platform.
Setting priority level to low and adding it to the product backlog for future project reference.

[2020-08-28 07:53] sagrgpt commented on #119
UI issues such as these will be taken care of while the UI upgrade project. Closing the issue. Please keep adding UI mishaps for future reference.

[2020-08-28 07:53] #119 closed

[2020-08-28 07:55] sagrgpt commented on #119
Screenshot_20200730-004131](https://user-images.githubusercontent.com/11998999/91536091-d259ef00-e931-11ea-87bc-52b5c2855393.jpg)
![Screenshot_20200715-003343](https://user-images.githubusercontent.com/11998999/91536098-d4bc4900-e931-11ea-88c0-fcd2db6a2a78.jpg)

[2020-08-28 08:00] sagrgpt commented on #122
The app's back stack is correctly implemented and have no reason for this behavior. Neither is this reproduceable.
Please open this issue if you face it again.

[2020-08-28 08:00] #122 closed

[2020-08-28 08:08] sagrgpt commented on #4
This issue is resolved on version 2.16.*

[2020-08-28 08:08] #4 closed

[2020-08-29 02:43] nikhilk90 opened #152 "Mismatch in badge amount and total raised"
**Describe the bug**
completed 10.18 km still it is showing remaining 0.03 km for badge

**Expected behavior**
He should get the badge 10.18>10km

**Screenshots**
![Screenshot_2020-08-29-07-56-17-43_c24bb60af26cb8edb45f3dfeea801e6a](https://user-images.githubusercontent.com/8169016/91626700-3252a300-e9cf-11ea-8bf0-4176ed0cd80f.jpg)
![Screenshot_2020-08-29-07-56-26-57_c24bb60af26cb8edb45f3dfeea801e

[2020-08-29 19:11] adrija25 opened #153 "[BUG] App crashing on clicking global leaderboard"
**Describe the bug**
App crashing on clicking global leaderboard and more option
Screen recording shared in app testing channel.
Posting screenshot below
.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_2020-08-30-00-35-55-031_com miui home](https://user-images.githubusercontent.com/64792558/91644423-6b375a00-ea59-11ea-8205-42cd54f9af30.jpg)

**Version [

[2020-08-30 07:17] sagrgpt commented on #153
Crashes are automatically reported to us. Hence, You need not report them separately.
We're working on this crash and will be fixed in the upcoming version

[2020-08-30 07:17] #153 closed

[2020-08-30 14:42] adrija25 commented on #153
@sagrgpt okay but still facing it. Fyi

[2020-09-01 07:07] adrija25 opened #154 "[BUG] Superhuman run"
**Describe the bug**
some users are covering 6km in 6 min, 1km in 5 seconds and so on.
590384
523322

**Screenshots**
![Screenshot_2020-08-30-20-17-59-24_c24bb60af26cb8edb45f3dfeea801e6a](https://user-images.githubusercontent.com/64792558/91813139-d34f9100-ec4f-11ea-917a-3a43617b610b.jpg)
![Screenshot_2020-08-30-22-23-56-77_c24bb60af26cb8edb45f3dfeea801e6a](https://user-images.githubusercontent.co

[2020-09-01 10:06] AnujaPednekar commented on #132
After clicking the link twice all the resources are getting loaded double times hence page loading taking more and we stop loading that page.
Solution: I have increased the time limit.

[2020-09-01 10:19] #132 closed

[2020-09-04 16:07] kanakagr opened #155 "[BUG] Duplicate passive workout"
**Describe the bug**
Received goal completion notification so I opened to check my today's steps. I was sure I've not done 1250 steps but it showed 1246 and 1 km complete. Checked workout history and passive donation of 623 steps is counted twice.

**To Reproduce**
Steps to reproduce the behavior:
1. No idea how to reproduce

**Expected behavior**
A clear and concise description of what you expect

[2020-09-04 16:08] kanakagr commented on #155
![Screenshot_20200904-213112](https://user-images.githubusercontent.com/64794999/92261352-ea63dc80-eef6-11ea-856c-ac987db0eb6b.png)

[2020-09-07 08:23] sagrgpt commented on #155
This issue is related to two different issue:
- Issue #145
- Issue #147

[2020-09-07 08:35] #155 closed

[2020-09-07 08:36] sagrgpt commented on #147
Waiting for non-fatal errors to appear in ver 2.16.17.6 and above

[2020-09-07 10:53] sagrgpt commented on #129
More details on commit hash: 11ba8f48a6c97008521b2dd64e92158fc7564e45

[2020-09-07 12:33] #154 closed

[2020-09-07 12:36] sagrgpt commented on #154
This issue is resolved and will be release with v2.17.0